In [157]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import numpy as np

In [158]:
url1 = 'datasets/Monthly-BRH-US-HTG.xlsx'
url2 = 'datasets/Monthly-HOD-BRH-INF.xlsx'
url3 = 'datasets/Received-remittances.xlsx'
url4_5 = 'datasets/Monthly-US-IMP-FROM-EXP-TO-HT.xlsx'
url6_7 = 'datasets/_PAP AAN stats 2014 thru MAI 2019.xlsx'

In [159]:
exch = pd.read_excel(url1)
exch.head()

       Date  Taux Moyen mensuel   Taux de fin de periode
0 1990-10-01                n/d                     7.805
1 1990-11-01                n/d                     8.150
2 1990-12-01                n/d                     7.850
3 1991-01-01                n/d                     7.670
4 1991-02-01                n/d                     7.725

In [160]:
exch.drop(exch.columns[1], axis=1, inplace=True)

In [161]:
exch.head()

       Date   Taux de fin de periode
0 1990-10-01                    7.805
1 1990-11-01                    8.150
2 1990-12-01                    7.850
3 1991-01-01                    7.670
4 1991-02-01                    7.725

In [162]:
exch.rename(columns={exch.columns[1]: 'end_rate'}, inplace=True)

In [163]:
exch.head()

       Date   end_rate
0 1990-10-01     7.805
1 1990-11-01     8.150
2 1990-12-01     7.850
3 1991-01-01     7.670
4 1991-02-01     7.725

In [164]:
exch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 2 columns):
Date        358 non-null datetime64[ns]
end_rate    358 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.7 KB

In [165]:
inf = pd.read_excel(url2)
inf

,Indicator,Indicator Name,Indicator - French Name,Indicator - Note,Measure,Measure Name,Measure - French Name,Measure - Units,Scale,Units,1999M11,1999M12,2000M1,2000M2,2000M3,2000M4,2000M5,2000M6,2000M7,2000M8,2000M9,2000M10,2000M11,2000M12,2001M1,2001M2,2001M3,2001M4,2001M5,2001M6,2001M7,2001M8,2001M9,2001M10,2001M11,2001M12,2002M1,2002M2,2002M3,2002M4,2002M5,2002M6,2002M7,2002M8,2002M9,2002M10,2002M11,2002M12,2003M1,2003M2,2003M3,2003M4,2003M5,2003M6,2003M7,2003M8,2003M9,2003M10,2003M11,2003M12,2004M1,2004M2,2004M3,2004M4,2004M5,2004M6,2004M7,2004M8,2004M9,2004M10,2004M11,2004M12,2005M1,2005M2,2005M3,2005M4,2005M5,2005M6,2005M7,2005M8,2005M9,2005M10,2005M11,2005M12,2006M1,2006M2,2006M3,2006M4,2006M5,2006M6,2006M7,2006M8,2006M9,2006M10,2006M11,2006M12,2007M1,2007M2,2007M3,2007M4,2007M5,2007M6,2007M7,2007M8,2007M9,2007M10,2007M11,2007M12,2008M1,2008M2,2008M3,2008M4,2008M5,2008M6,2008M7,2008M8,2008M9,2008M10,2008M11,2008M12,2009M1,2009M2,2009M3,2009M4,2009M5,2009M6,2009M7,2009M8,2009M9,2009M10,2009M11,2009M12,2010M1,2010M2,2010M3,2010M4,2010M5,2010M6,2010M7,2010M8,2010M9,2010M10,2010M11,2010M12,2011M1,2011M2,2011M3,2011M4,2011M5,2011M6,2011M7,2011M8,2011M9,2011M10,2011M11,2011M12,2012M1,2012M2,2012M3,2012M4,2012M5,2012M6,2012M7,2012M8,2012M9,2012M10,2012M11,2012M12,2013M1,2013M2,2013M3,2013M4,2013M5,2013M6,2013M7,2013M8,2013M9,2013M10,2013M11,2013M12,2014M1,2014M2,2014M3,2014M4,2014M5,2014M6,2014M7,2014M8,2014M9,2014M10,2014M11,2014M12,2015M1,2015M2,2015M3,2015M4,2015M5,2015M6,2015M7,2015M8,2015M9,2015M10,2015M11,2015M12,2016M1,2016M2,2016M3,2016M4,2016M5,2016M6,2016M7,2016M8,2016M9,2016M10,2016M11,2016M12,2017M1,2017M2,2017M3,2017M4,2017M5,2017M6,2017M7,2017M8,2017M9,2017M10,2017M11,2017M12,2018M1,2018M2,2018M3,2018M4,2018M5,2018M6,2018M7,2018M8,2018M9,2018M10,2018M11,2018M12,2019M1,2019M2,2019M3,2019M4,2019M5,2019M6,2019M7,2019M8,2019M9,2019M10,2019M11,2019M12,2020M1,2020M2,2020M3,2020M4,2020M5,2020M6,2020M7
0,KN.A2,General Consumer Price Index,Indice général des prix à la consommation,The weighted combination of all other indexes.,KN.B2,Monthly Inflation Rate,Variation en % sur un mois,%,units,%,0.564196,0.717535,1.153323,0.925022,2.629778,0.79366,0.302458,0.240245,0.872334,1.230196,3.944204,2.982166,1.120847,1.151785,0.748523,0.842478,0.780015,0.538635,1.037367,-0.024690,-0.036019,0.850031,0.934176,1.185752,0.642465,1.113984,0.481341,0.733379,1.213619,0.330963,0.455852,0.853685,1.007232,1.443183,1.365823,2.064441,1.518591,2.736813,6.815984,3.591478,3.222094,2.155330,1.363575,1.547773,0.789550,3.389130,3.420122,1.524838,1.508228,1.523773,1.360783,1.557590,2.925487,4.452542,1.404534,0.540928,0.234324,0.427116,2.395974,0.568455,0.558412,1.300339,1.959845,1.071501,1.034392,1.003784,1.808058,1.245319,0.947457,1.057086,1.379310,0.935374,1.179444,0.749376,1.239669,1.714286,1.043339,0.873709,1.023622,0.155885,0.622568,0.696056,1.536098,0.378215,0.226074,0.375940,0.524345,0.819672,0.517369,0.882353,1.311953,0.863309,-0.499287,0.430108,1.784440,0.631136,1.254355,1.032347,1.498638,1.610738,4.491413,1.049305,0.550482,0.951848,1.682381,0.909091,2.582583,-0.819672,-2.361275,-2.237001,-0.432900,-0.434783,-0.311915,0.125156,0.062500,0.312305,0.186800,0.621504,0.617665,0.368324,0.366972,0.548446,3.515152,-1.288056,0.533808,0.353982,0.176367,0.176056,-0.058582,0.000000,-0.058617,0.293255,0.877193,1.565217,1.141553,1.241535,1.282051,0.990644,0.653951,1.082837,0.053562,0.107066,0.641711,0.318810,0.211864,0.264271,0.632578,0.261917,0.365726,0.676731,0.465357,0.823469,0.408372,0.864260,1.058468,0.598504,0.793257,0.393507,0.293974,0.439668,0.583658,0.338491,0.481928,0.047962,0.095877,0.287356,0.095511,0.238550,0.095193,0.380409,0.236855,0.283554,0.612630,0.562061,0.536119,0.679505,0.728074,0.502513,0.363636,0.634058,0.540054,0.581916,0.400534,0.265957,0.442087,0.484155,0.832238,1.911381,2.003410,1.462599,1.194399,1.017501,0.765512,1.079568,1.068038,1.252446,0.850406,0.843235,0.684151,0.868252,1.122754,0.962250,1.319648,1.772793,1.493068,1.190893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KN.A2,General Consumer Price Index,Indice général des prix à la consommation,The weighted combination of all other indexes.,KN.B1,Yearly Inflation Rate,Variation en % sur un an,%,units,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.552597,18.203284,18.712925,18.237854,18.141152,16.011816,15.718287,16.566146,16.258061,15.211160,14.778490,11.454722,9.510513,8.992442,8.951710,8.662774,8.545214,9.012227,8.787053,8.160935,9.111229,10.249944,10.898381,11.372640,12.339791,13.317746,15.136440,22.394984,25.867686,28.365394,30.699525,31.880531,32.788149,32.501975,35.043712,37.780532,37.052102,37.038113,35.420068,28.504028,25.981013,25.619009,28.443859,28.495760,27.221726,26.520891,22.896171,21.679156,20.532917,19.405086,19.142299,19.846452,19.272826,17.081374,13.215644,13.666169,14.462517,15.276879,16.000000,14.848266,15.267283,15.979155,15.348354,14.533612,15.262011,15.272218,15.123768,14.236734,13.007507,12.643803,12.241379,12.414966,11.794440,10.741049,10.330579,9.551020,8.587480,8.022240,8.031496,8.339829,9.105058,7.888631,7.603687,7.866868,8.138659,9.248120,9.962547,11.028316,11.899483,16.323529,16.516035,15.640288,15.741797,18.279570,18.843683,19.775596,18.048780,13.833448,10.149864,8.053691,5.878468,1.011378,0.087577,-0.398159,-1.029149,-2.484848,-2.762763,-4.625293,-3.482881,-0.785973,2.040816,6.086957,5.177792,6.070088,6.312500,6.433479,6.288917,6.028589,5.373687,4.665439,4.587156,5.118830,6.181818,3.747073,6.405694,7.197640,7.877719,8.392019,9.373169,9.495897,9.613130,10.381232,10.409357,9.681159,8.276256,7.731377,6.688963,5.723720,5.395095,5.197618,4.927691,5.299786,6.096257,6.535600,6.832627,7.452431,7.590933,7.228916,7.419018,7.652264,7.290589,7.308286,6.482899,6.151500,5.544355,4.538653,4.164601,3.443187,3.429691,3.370787,3.210117,3.239845,3.469880,3.525682,4.179178,4.837165,5.062082,5.343511,5.759162,6.229196,6.442444,6.616257,6.597549,6.416862,6.334420,6.647618,7.952518,9.319324,10.363636,11.277174,11.701170,11.951656,12.505563,13.253546,14.367816,14.832746,15.243101,15.073849,13.895993,12.912662,12.355848,12.494912,13.336019,14.154338,14.280063,14.1,13.9,14.3,14.6,15.5,15.8,15.6,15.6,15.4,14.4,13.7,13.3,13.2,13.2,12.9,13.0,12.7,13.0,13.6,14.1,14.6,14.3,14.5,15.1,15.5,17.0,16.7,17.7,18.0,18.6,19.1,19.5,19.7,20.0,20.4,20.8,20.7,20.8,22.0,22.3,23.4,NaN,NaN
2,KN.A2,General Consumer Price Index,Indice général des prix à la consommation,The weighted combination of all other indexes.,KN.B3,"Index, August 2004 = 100","Indice, Août 2004=100","Index, August 2004 = 100",units,"index, August 2004 = 100",43.300000,43.700000,44.200000,44.600000,45.700000,46.10000,46.200000,46.400000,46.800000,47.300000,49.200000,50.700000,51.200000,51.800000,52.200000,52.700000,53.100000,53.400000,53.900000,53.900000,53.900000,54.300000,54.800000,55.500000,55.800000,56.500000,56.700000,57.200000,57.900000,58.000000,58.300000,58.800000,59.400000,60.300000,61.100000,62.300000,63.300000,65.000000,69.400000,71.900000,74.300000,75.900000,76.900000,78.100000,78.700000,81.400000,84.200000,85.400000,86.700000,88.000000,89.200000,90.600000,93.300000,97.400000,98.800000,99.300000,99.600000,100.000000,102.400000,103.000000,103.600000,104.900000,107.000000,108.100000,109.200000,110.300000,112.300000,113.700000,114.800000,116.000000,117.600000,118.700000,120.100000,121.000000,122.500000,124.600000,125.900000,127.000000,128.300000,128.500000,129.300000,130.200000,132.200000,132.700000,133.000000,133.500000,134.200000,135.300000,136.000000,137.200000,139.000000,140.200000,139.500000,140.100000,142.600000,143.500000,145.300000,146.800000,149.000000,151.400000,158.200000,159.900000,160.700000,162.300000,165.000000,166.500000,170.800000,169.400000,165.400000,161.700000,161.000000,160.300000,159.800000,160.000000,160.100000,160.600000,160.900000,161.900000,162.900000,163.500000,164.100000,165.000000,170.800000,168.600000,169.500000,170.100000,170.400000,170.700000,170.600000,170.600000,170.500000,171.000000,172.500000,175.200000,177.200000,179.400000,181.700000,183.500000,184.700000,186.700000,186.800000,187.000000,188.200000,188.800000,189.200000,189.700000,190.900000,191.400000,192.100000,193.400000,194.300000,195.900000,196.700000,198.400000,200.500000,201.700000,203.300000,204.100000,204.700000,205.600000,206.800000,207.500000,208.500000,208.600000,208.800000,209.400000,209.600000,210.100000,210.300000,211.100000,211.600000,212.200000,213.500000,214.700000,215.900000,217.300000,218.900000,220.000000,220.800000,222.200000,223.400000,224.700000,225.600000,226.200000,227.200000,228.300000,230.200000,234.600000,239.300000,242.800000,245.700000,248.200000,250.100000,252.800000,255.500000,258.700000,260.900000,263.100000,264.900000,267.200000,270.200000,272.800000,276.400000,281.300000,285.500000,288.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Source:,Haitian Institute of Statistics and Informatics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Download URL:,http://opendata.investhaiti.ht/HTINFLA2016V1/i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
inf = inf.loc[1, '2000M10': '2020M5']

In [167]:
exch['inf'] = np.nan
for i in range(len(inf)):
    exch.loc[120+i, 'inf'] = inf[i]

In [168]:
exch

         Date   end_rate        inf
0   1990-10-01    7.8050        NaN
1   1990-11-01    8.1500        NaN
2   1990-12-01    7.8500        NaN
3   1991-01-01    7.6700        NaN
4   1991-02-01    7.7250        NaN
5   1991-03-01    7.9650        NaN
6   1991-04-01    7.5250        NaN
7   1991-05-01    7.4500        NaN
8   1991-06-01    7.5900        NaN
9   1991-07-01    7.3300        NaN
10  1991-08-01    7.3300        NaN
11  1991-09-01    7.4850        NaN
12  1991-10-01    8.1300        NaN
13  1991-11-01    8.3000        NaN
14  1991-12-01    8.2400        NaN
15  1992-01-01    8.5490        NaN
16  1992-02-01    8.7780        NaN
17  1992-03-01    8.9110        NaN
18  1992-04-01    9.2700        NaN
19  1992-05-01    9.7260        NaN
20  1992-06-01    9.7970        NaN
21  1992-07-01    9.5050        NaN
22  1992-08-01    9.8560        NaN
23  1992-09-01   10.1780        NaN
24  1992-10-01   10.5090        NaN
25  1992-11-01   11.3540        NaN
26  1992-12-01   10.9530        NaN
27  1993-01-01   12.2949        NaN
28  1993-02-01   11.0000        NaN
29  1993-03-01   12.8344        NaN
30  1993-04-01   13.4196        NaN
31  1993-05-01   14.4485        NaN
32  1993-06-01   13.6558        NaN
33  1993-07-01   12.3758        NaN
34  1993-08-01   12.4661        NaN
35  1993-09-01   12.3966        NaN
36  1993-10-01   12.4866        NaN
37  1993-11-01   13.1677        NaN
38  1993-12-01   12.8049        NaN
39  1994-01-01   13.7755        NaN
40  1994-02-01   13.8890        NaN
41  1994-03-01   14.2177        NaN
42  1994-04-01   14.9482        NaN
43  1994-05-01   14.8599        NaN
44  1994-06-01   14.6436        NaN
45  1994-07-01   17.1647        NaN
46  1994-08-01   21.4932        NaN
47  1994-09-01   15.0964        NaN
48  1994-10-01   14.2828        NaN
49  1994-11-01   14.0546        NaN
50  1994-12-01   12.9466        NaN
51  1995-01-01   14.1560        NaN
52  1995-02-01   13.9795        NaN
53  1995-03-01   14.4729        NaN
54  1995-04-01   14.2410        NaN
55  1995-05-01   14.6439        NaN
56  1995-06-01   15.0698        NaN
57  1995-07-01   15.0173        NaN
58  1995-08-01   15.6292        NaN
59  1995-09-01   15.5384        NaN
60  1995-10-01   17.0236        NaN
61  1995-11-01   16.1755        NaN
62  1995-12-01   16.1599        NaN
63  1996-01-01   16.7830        NaN
64  1996-02-01   16.5518        NaN
65  1996-03-01   16.8024        NaN
66  1996-04-01   16.3635        NaN
67  1996-05-01   16.0997        NaN
68  1996-06-01   15.5882        NaN
69  1996-07-01   15.0446        NaN
70  1996-08-01   15.0343        NaN
71  1996-09-01   15.0454        NaN
72  1996-10-01   15.5525        NaN
73  1996-11-01   15.2733        NaN
74  1996-12-01   15.0928        NaN
75  1997-01-01   16.2599        NaN
76  1997-02-01   16.1117        NaN
77  1997-03-01   16.5056        NaN
78  1997-04-01   16.6913        NaN
79  1997-05-01   16.8170        NaN
80  1997-06-01   16.7564        NaN
81  1997-07-01   16.4850        NaN
82  1997-08-01   16.7518        NaN
83  1997-09-01   16.9496        NaN
84  1997-10-01   17.4131        NaN
85  1997-11-01   16.8719        NaN
86  1997-12-01   17.3110        NaN
87  1998-01-01   17.5602        NaN
88  1998-02-01   17.3752        NaN
89  1998-03-01   17.3427        NaN
90  1998-04-01   16.9492        NaN
91  1998-05-01   16.6870        NaN
92  1998-06-01   15.6646        NaN
93  1998-07-01   16.0670        NaN
94  1998-08-01   16.5075        NaN
95  1998-09-01   16.8475        NaN
96  1998-10-01   16.3043        NaN
97  1998-11-01   16.5948        NaN
98  1998-12-01   16.5046        NaN
99  1999-01-01   16.7778        NaN
100 1999-02-01   16.8943        NaN
101 1999-03-01   16.6816        NaN
102 1999-04-01   16.6876        NaN
103 1999-05-01   16.6990        NaN
104 1999-06-01   16.7046        NaN
105 1999-07-01   16.8242        NaN
106 1999-08-01   16.7961        NaN
107 1999-09-01   16.9411        NaN
108 1999-10-01   17.5482        NaN
109 1999-11-01   17.9632        NaN
110 1999-12-01   17.9654        NaN
111 2000-01-01   18.2620        NaN
112 2000-02-01   19.1848        NaN
113 2000-03-01   19.7373        NaN
114 2000-04-01   19.7265        NaN
115 2000-05-01   19.6744        NaN
116 2000-06-01   20.3781        NaN
117 2000-07-01   20.8679        NaN
118 2000-08-01   21.6345        NaN
119 2000-09-01   28.3337        NaN
120 2000-10-01   23.5820  17.552597
121 2000-11-01   23.8881  18.203284
122 2000-12-01   22.5242  18.712925
123 2001-01-01   23.7612  18.237854
124 2001-02-01   23.5483  18.141152
125 2001-03-01   23.9641  16.011816
126 2001-04-01   23.4651  15.718287
127 2001-05-01   23.5197  16.566146
128 2001-06-01   24.3731  16.258061
129 2001-07-01   24.1052  15.211160
130 2001-08-01   24.4244  14.778490
131 2001-09-01   25.4927  11.454722
132 2001-10-01   26.0076   9.510513
133 2001-11-01   25.9602   8.992442
134 2001-12-01   26.3389   8.951710
135 2002-01-01   26.6744   8.662774
136 2002-02-01   27.1982   8.545214
137 2002-03-01   26.7658   9.012227
138 2002-04-01   26.6768   8.787053
139 2002-05-01   26.9701   8.160935
140 2002-06-01   27.2819   9.111229
141 2002-07-01   28.4377  10.249944
142 2002-08-01   28.7608  10.898381
143 2002-09-01   29.6984  11.372640
144 2002-10-01   32.9547  12.339791
145 2002-11-01   37.2729  13.317746
146 2002-12-01   37.6092  15.136440
147 2003-01-01   41.5097  22.394984
148 2003-02-01   44.5181  25.867686
149 2003-03-01   42.2152  28.365394
150 2003-04-01   42.3014  30.699525
151 2003-05-01   40.5400  31.880531
152 2003-06-01   42.8573  32.788149
153 2003-07-01   42.7099  32.501975
154 2003-08-01   41.2170  35.043712
155 2003-09-01   42.0253  37.780532
156 2003-10-01   41.9623  37.052102
157 2003-11-01   42.8229  37.038113
158 2003-12-01   42.0849  35.420068
159 2004-01-01   44.0850  28.504028
160 2004-02-01   44.0038  25.981013
161 2004-03-01   40.2165  25.619009
162 2004-04-01   37.7444  28.443859
163 2004-05-01   36.9540  28.495760
164 2004-06-01   35.7358  27.221726
165 2004-07-01   36.0315  26.520891
166 2004-08-01   36.0958  22.896171
167 2004-09-01   36.8229  21.679156
168 2004-10-01   37.1563  20.532917
169 2004-11-01   37.4848  19.405086
170 2004-12-01   37.2318  19.142299
171 2005-01-01   37.6915  19.846452
172 2005-02-01   37.8931  19.272826
173 2005-03-01   38.2039  17.081374
174 2005-04-01   39.0311  13.215644
175 2005-05-01   38.7025  13.666169
176 2005-06-01   39.9245  14.462517
177 2005-07-01   42.0759  15.276879
178 2005-08-01   42.3415  16.000000
179 2005-09-01   43.0426  14.848266
180 2005-10-01   43.0291  15.267283
181 2005-11-01   43.0612  15.979155
182 2005-12-01   43.0003  15.348354
183 2006-01-01   43.4757  14.533612
184 2006-02-01   42.9775  15.262011
185 2006-03-01   42.6885  15.272218
186 2006-04-01   41.0963  15.123768
187 2006-05-01   39.0188  14.236734
188 2006-06-01   39.8619  13.007507
189 2006-07-01   39.9548  12.643803
190 2006-08-01   38.8615  12.241379
191 2006-09-01   39.1292  12.414966
192 2006-10-01   39.1312  11.794440
193 2006-11-01   38.9958  10.741049
194 2006-12-01   37.5914  10.330579
195 2007-01-01   38.9823   9.551020
196 2007-02-01   38.3217   8.587480
197 2007-03-01   37.4215   8.022240
198 2007-04-01   36.9035   8.031496
199 2007-05-01   36.5716   8.339829
200 2007-06-01   35.7429   9.105058
201 2007-07-01   35.6388   7.888631
202 2007-08-01   35.7562   7.603687
203 2007-09-01   36.3813   7.866868
204 2007-10-01   36.3602   8.138659
205 2007-11-01   37.1785   9.248120
206 2007-12-01   36.7844   9.962547
207 2008-01-01   37.5434  11.028316
208 2008-02-01   37.7222  11.899483
209 2008-03-01   38.7147  16.323529
210 2008-04-01   38.4124  16.516035
211 2008-05-01   38.8782  15.640288
212 2008-06-01   39.5597  15.741797
213 2008-07-01   39.7740  18.279570
214 2008-08-01   39.9945  18.843683
215 2008-09-01   39.9535  19.775596
216 2008-10-01   39.9601  18.048780
217 2008-11-01   40.3273  13.833448
218 2008-12-01   39.8176  10.149864
219 2009-01-01   40.4392   8.053691
220 2009-02-01   40.4601   5.878468
221 2009-03-01   40.7022   1.011378
222 2009-04-01   40.7963   0.087577
223 2009-05-01   40.8162  -0.398159
224 2009-06-01   41.1596  -1.029149
225 2009-07-01   41.4482  -2.484848
226 2009-08-01   41.4335  -2.762763
227 2009-09-01   41.7737  -4.625293
228 2009-10-01   42.0271  -3.482881
229 2009-11-01   42.2804  -0.785973
230 2009-12-01   42.0193   2.040816
231 2010-01-01   38.7000   6.086957
232 2010-02-01   38.6375   5.177792
233 2010-03-01   39.6156   6.070088
234 2010-04-01   39.5097   6.312500
235 2010-05-01   39.7925   6.433479
236 2010-06-01   39.7991   6.288917
237 2010-07-01   39.8392   6.028589
238 2010-08-01   39.8522   5.373687
239 2010-09-01   39.9405   4.665439
240 2010-10-01   40.0954   4.587156
241 2010-11-01   40.1493   5.118830
242 2010-12-01   39.8817   6.181818
243 2011-01-01   40.3363   3.747073
244 2011-02-01   40.3803   6.405694
245 2011-03-01   40.2588   7.197640
246 2011-04-01   40.2540   7.877719
247 2011-05-01   40.2586   8.392019
248 2011-06-01   40.3239   9.373169
249 2011-07-01   40.4165   9.495897
250 2011-08-01   40.6484   9.613130
251 2011-09-01   40.8742  10.381232
252 2011-10-01   41.0060  10.409357
253 2011-11-01   41.0958   9.681159
254 2011-12-01   40.9734   8.276256
255 2012-01-01   41.3309   7.731377
256 2012-02-01   41.5340   6.688963
257 2012-03-01   41.5810   5.723720
258 2012-04-01   41.7230   5.395095
259 2012-05-01   41.9112   5.197618
260 2012-06-01   41.9761   4.927691
261 2012-07-01   42.0188   5.299786
262 2012-08-01   42.1923   6.096257
263 2012-09-01   42.3222   6.535600
264 2012-10-01   42.4121   6.832627
265 2012-11-01   42.5778   7.452431
266 2012-12-01   42.5530   7.590933
267 2013-01-01   42.7534   7.228916
268 2013-02-01   42.8610   7.419018
269 2013-03-01   43.0166   7.652264
270 2013-04-01   43.3461   7.290589
271 2013-05-01   43.6803   7.308286
272 2013-06-01   43.7922   6.482899
273 2013-07-01   43.7326   6.151500
274 2013-08-01   43.7555   5.544355
275 2013-09-01   43.7429   4.538653
276 2013-10-01   43.8080   4.164601
277 2013-11-01   43.8496   3.443187
278 2013-12-01   43.8820   3.429691
279 2014-01-01   44.0151   3.370787
280 2014-02-01   44.3479   3.210117
281 2014-03-01   44.7062   3.239845
282 2014-04-01   44.9934   3.469880
283 2014-05-01   44.3551   3.525682
284 2014-06-01   45.3399   4.179178
285 2014-07-01   45.3552   4.837165
286 2014-08-01   45.3829   5.062082
287 2014-09-01   45.5577   5.343511
288 2014-10-01   45.7572   5.759162
289 2014-11-01   46.5991   6.229196
290 2014-12-01   46.7477   6.442444
291 2015-01-01   46.9277   6.616257
292 2015-02-01   47.1441   6.597549
293 2015-03-01   47.1789   6.416862
294 2015-04-01   47.3801   6.334420
295 2015-05-01   48.1113   6.647618
296 2015-06-01   51.5866   7.952518
297 2015-07-01   55.2174   9.319324
298 2015-08-01   51.6674  10.363636
299 2015-09-01   52.1417  11.277174
300 2015-10-01   53.7793  11.701170
301 2015-11-01   56.1368  11.951656
302 2015-12-01   56.6970  12.505563
303 2016-01-01   59.4546  13.253546
304 2016-02-01   61.4393  14.367816
305 2016-03-01   61.7627  14.832746
306 2016-04-01   61.9572  15.243101
307 2016-05-01   62.2054  15.073849
308 2016-06-01   62.8939  13.895993
309 2016-07-01   63.6545  12.912662
310 2016-08-01   64.8864  12.355848
311 2016-09-01   65.5368  12.494912
312 2016-10-01   66.3278  13.336019
313 2016-11-01   67.0629  14.154338
314 2016-12-01   67.3944  14.280063
315 2017-01-01   67.7976  14.100000
316 2017-02-01   68.3332  13.900000
317 2017-03-01   69.3523  14.300000
318 2017-04-01   67.6004  14.600000
319 2017-05-01   62.2023  15.500000
320 2017-06-01   62.3516  15.800000
321 2017-07-01   62.4717  15.600000
322 2017-08-01   62.6587  15.600000
323 2017-09-01   62.6900  15.400000
324 2017-10-01   62.9405  14.400000
325 2017-11-01   63.3030  13.700000
326 2017-12-01   63.6871  13.300000
327 2018-01-01   63.8271  13.200000
328 2018-02-01   64.1154  13.200000
329 2018-03-01   65.2715  12.900000
330 2018-04-01   65.5747  13.000000
331 2018-05-01   66.1431  12.700000
332 2018-06-01   66.9070  13.000000
333 2018-07-01   67.7221  13.600000
334 2018-08-01   69.1096  14.100000
335 2018-09-01   69.9774  14.600000
336 2018-10-01   72.2672  14.300000
337 2018-11-01   74.6114  14.500000
338 2018-12-01   77.1881  15.100000
339 2019-01-01   81.0353  15.500000
340 2019-02-01   82.0249  17.000000
341 2019-03-01   82.6061  16.700000
342 2019-04-01   86.0961  17.700000
343 2019-05-01   92.5356  18.000000
344 2019-06-01   93.0256  18.600000
345 2019-07-01   93.2599  19.100000
346 2019-08-01   93.3893  19.500000
347 2019-09-01   93.3162  19.700000
348 2019-10-01   91.7459  20.000000
349 2019-11-01   91.7155  20.400000
350 2019-12-01   91.9842  20.800000
351 2020-01-01   92.7940  20.700000
352 2020-02-01   94.7716  20.800000
353 2020-03-01   97.9700  22.000000
354 2020-04-01  102.8348  22.300000
355 2020-05-01  108.9426  23.400000
356 2020-06-01  113.3133        NaN
357 2020-07-01  119.6463        NaN

In [169]:
trans = pd.read_excel(url3, sheet_name='transfers')
trans.head()

  Unnamed: 0  tot_in_formal
0    2009M10   1.162961e+08
1    2009M11   1.020740e+08
2    2009M12   1.480573e+08
3     2010M1   1.089251e+08
4     2010M2   1.525305e+08

In [170]:
trans.tail()

    Unnamed: 0  tot_in_formal
121    2019M11   2.400336e+08
122    2019M12   3.703876e+08
123     2020M1   2.518831e+08
124     2020M2   2.725441e+08
125     2020M3   3.014705e+08

In [171]:
exch['rec_rem'] = np.nan
for i in range(len(trans)):
    exch.loc[228+i, 'rec_rem'] = trans.loc[i, 'tot_in_formal']

In [172]:
exch

         Date   end_rate        inf       rec_rem
0   1990-10-01    7.8050        NaN           NaN
1   1990-11-01    8.1500        NaN           NaN
2   1990-12-01    7.8500        NaN           NaN
3   1991-01-01    7.6700        NaN           NaN
4   1991-02-01    7.7250        NaN           NaN
5   1991-03-01    7.9650        NaN           NaN
6   1991-04-01    7.5250        NaN           NaN
7   1991-05-01    7.4500        NaN           NaN
8   1991-06-01    7.5900        NaN           NaN
9   1991-07-01    7.3300        NaN           NaN
10  1991-08-01    7.3300        NaN           NaN
11  1991-09-01    7.4850        NaN           NaN
12  1991-10-01    8.1300        NaN           NaN
13  1991-11-01    8.3000        NaN           NaN
14  1991-12-01    8.2400        NaN           NaN
15  1992-01-01    8.5490        NaN           NaN
16  1992-02-01    8.7780        NaN           NaN
17  1992-03-01    8.9110        NaN           NaN
18  1992-04-01    9.2700        NaN           NaN
19  1992-05-01    9.7260        NaN           NaN
20  1992-06-01    9.7970        NaN           NaN
21  1992-07-01    9.5050        NaN           NaN
22  1992-08-01    9.8560        NaN           NaN
23  1992-09-01   10.1780        NaN           NaN
24  1992-10-01   10.5090        NaN           NaN
25  1992-11-01   11.3540        NaN           NaN
26  1992-12-01   10.9530        NaN           NaN
27  1993-01-01   12.2949        NaN           NaN
28  1993-02-01   11.0000        NaN           NaN
29  1993-03-01   12.8344        NaN           NaN
30  1993-04-01   13.4196        NaN           NaN
31  1993-05-01   14.4485        NaN           NaN
32  1993-06-01   13.6558        NaN           NaN
33  1993-07-01   12.3758        NaN           NaN
34  1993-08-01   12.4661        NaN           NaN
35  1993-09-01   12.3966        NaN           NaN
36  1993-10-01   12.4866        NaN           NaN
37  1993-11-01   13.1677        NaN           NaN
38  1993-12-01   12.8049        NaN           NaN
39  1994-01-01   13.7755        NaN           NaN
40  1994-02-01   13.8890        NaN           NaN
41  1994-03-01   14.2177        NaN           NaN
42  1994-04-01   14.9482        NaN           NaN
43  1994-05-01   14.8599        NaN           NaN
44  1994-06-01   14.6436        NaN           NaN
45  1994-07-01   17.1647        NaN           NaN
46  1994-08-01   21.4932        NaN           NaN
47  1994-09-01   15.0964        NaN           NaN
48  1994-10-01   14.2828        NaN           NaN
49  1994-11-01   14.0546        NaN           NaN
50  1994-12-01   12.9466        NaN           NaN
51  1995-01-01   14.1560        NaN           NaN
52  1995-02-01   13.9795        NaN           NaN
53  1995-03-01   14.4729        NaN           NaN
54  1995-04-01   14.2410        NaN           NaN
55  1995-05-01   14.6439        NaN           NaN
56  1995-06-01   15.0698        NaN           NaN
57  1995-07-01   15.0173        NaN           NaN
58  1995-08-01   15.6292        NaN           NaN
59  1995-09-01   15.5384        NaN           NaN
60  1995-10-01   17.0236        NaN           NaN
61  1995-11-01   16.1755        NaN           NaN
62  1995-12-01   16.1599        NaN           NaN
63  1996-01-01   16.7830        NaN           NaN
64  1996-02-01   16.5518        NaN           NaN
65  1996-03-01   16.8024        NaN           NaN
66  1996-04-01   16.3635        NaN           NaN
67  1996-05-01   16.0997        NaN           NaN
68  1996-06-01   15.5882        NaN           NaN
69  1996-07-01   15.0446        NaN           NaN
70  1996-08-01   15.0343        NaN           NaN
71  1996-09-01   15.0454        NaN           NaN
72  1996-10-01   15.5525        NaN           NaN
73  1996-11-01   15.2733        NaN           NaN
74  1996-12-01   15.0928        NaN           NaN
75  1997-01-01   16.2599        NaN           NaN
76  1997-02-01   16.1117        NaN           NaN
77  1997-03-01   16.5056        NaN           NaN
78  1997-04-01   16.6913        NaN           NaN
79  1997-05-01   16.8170        NaN           NaN
80  1997-06-01   16.7564        NaN           NaN
81  1997-07-01   16.4850        NaN           NaN
82  1997-08-01   16.7518        NaN           NaN
83  1997-09-01   16.9496        NaN           NaN
84  1997-10-01   17.4131        NaN           NaN
85  1997-11-01   16.8719        NaN           NaN
86  1997-12-01   17.3110        NaN           NaN
87  1998-01-01   17.5602        NaN           NaN
88  1998-02-01   17.3752        NaN           NaN
89  1998-03-01   17.3427        NaN           NaN
90  1998-04-01   16.9492        NaN           NaN
91  1998-05-01   16.6870        NaN           NaN
92  1998-06-01   15.6646        NaN           NaN
93  1998-07-01   16.0670        NaN           NaN
94  1998-08-01   16.5075        NaN           NaN
95  1998-09-01   16.8475        NaN           NaN
96  1998-10-01   16.3043        NaN           NaN
97  1998-11-01   16.5948        NaN           NaN
98  1998-12-01   16.5046        NaN           NaN
99  1999-01-01   16.7778        NaN           NaN
100 1999-02-01   16.8943        NaN           NaN
101 1999-03-01   16.6816        NaN           NaN
102 1999-04-01   16.6876        NaN           NaN
103 1999-05-01   16.6990        NaN           NaN
104 1999-06-01   16.7046        NaN           NaN
105 1999-07-01   16.8242        NaN           NaN
106 1999-08-01   16.7961        NaN           NaN
107 1999-09-01   16.9411        NaN           NaN
108 1999-10-01   17.5482        NaN           NaN
109 1999-11-01   17.9632        NaN           NaN
110 1999-12-01   17.9654        NaN           NaN
111 2000-01-01   18.2620        NaN           NaN
112 2000-02-01   19.1848        NaN           NaN
113 2000-03-01   19.7373        NaN           NaN
114 2000-04-01   19.7265        NaN           NaN
115 2000-05-01   19.6744        NaN           NaN
116 2000-06-01   20.3781        NaN           NaN
117 2000-07-01   20.8679        NaN           NaN
118 2000-08-01   21.6345        NaN           NaN
119 2000-09-01   28.3337        NaN           NaN
120 2000-10-01   23.5820  17.552597           NaN
121 2000-11-01   23.8881  18.203284           NaN
122 2000-12-01   22.5242  18.712925           NaN
123 2001-01-01   23.7612  18.237854           NaN
124 2001-02-01   23.5483  18.141152           NaN
125 2001-03-01   23.9641  16.011816           NaN
126 2001-04-01   23.4651  15.718287           NaN
127 2001-05-01   23.5197  16.566146           NaN
128 2001-06-01   24.3731  16.258061           NaN
129 2001-07-01   24.1052  15.211160           NaN
130 2001-08-01   24.4244  14.778490           NaN
131 2001-09-01   25.4927  11.454722           NaN
132 2001-10-01   26.0076   9.510513           NaN
133 2001-11-01   25.9602   8.992442           NaN
134 2001-12-01   26.3389   8.951710           NaN
135 2002-01-01   26.6744   8.662774           NaN
136 2002-02-01   27.1982   8.545214           NaN
137 2002-03-01   26.7658   9.012227           NaN
138 2002-04-01   26.6768   8.787053           NaN
139 2002-05-01   26.9701   8.160935           NaN
140 2002-06-01   27.2819   9.111229           NaN
141 2002-07-01   28.4377  10.249944           NaN
142 2002-08-01   28.7608  10.898381           NaN
143 2002-09-01   29.6984  11.372640           NaN
144 2002-10-01   32.9547  12.339791           NaN
145 2002-11-01   37.2729  13.317746           NaN
146 2002-12-01   37.6092  15.136440           NaN
147 2003-01-01   41.5097  22.394984           NaN
148 2003-02-01   44.5181  25.867686           NaN
149 2003-03-01   42.2152  28.365394           NaN
150 2003-04-01   42.3014  30.699525           NaN
151 2003-05-01   40.5400  31.880531           NaN
152 2003-06-01   42.8573  32.788149           NaN
153 2003-07-01   42.7099  32.501975           NaN
154 2003-08-01   41.2170  35.043712           NaN
155 2003-09-01   42.0253  37.780532           NaN
156 2003-10-01   41.9623  37.052102           NaN
157 2003-11-01   42.8229  37.038113           NaN
158 2003-12-01   42.0849  35.420068           NaN
159 2004-01-01   44.0850  28.504028           NaN
160 2004-02-01   44.0038  25.981013           NaN
161 2004-03-01   40.2165  25.619009           NaN
162 2004-04-01   37.7444  28.443859           NaN
163 2004-05-01   36.9540  28.495760           NaN
164 2004-06-01   35.7358  27.221726           NaN
165 2004-07-01   36.0315  26.520891           NaN
166 2004-08-01   36.0958  22.896171           NaN
167 2004-09-01   36.8229  21.679156           NaN
168 2004-10-01   37.1563  20.532917           NaN
169 2004-11-01   37.4848  19.405086           NaN
170 2004-12-01   37.2318  19.142299           NaN
171 2005-01-01   37.6915  19.846452           NaN
172 2005-02-01   37.8931  19.272826           NaN
173 2005-03-01   38.2039  17.081374           NaN
174 2005-04-01   39.0311  13.215644           NaN
175 2005-05-01   38.7025  13.666169           NaN
176 2005-06-01   39.9245  14.462517           NaN
177 2005-07-01   42.0759  15.276879           NaN
178 2005-08-01   42.3415  16.000000           NaN
179 2005-09-01   43.0426  14.848266           NaN
180 2005-10-01   43.0291  15.267283           NaN
181 2005-11-01   43.0612  15.979155           NaN
182 2005-12-01   43.0003  15.348354           NaN
183 2006-01-01   43.4757  14.533612           NaN
184 2006-02-01   42.9775  15.262011           NaN
185 2006-03-01   42.6885  15.272218           NaN
186 2006-04-01   41.0963  15.123768           NaN
187 2006-05-01   39.0188  14.236734           NaN
188 2006-06-01   39.8619  13.007507           NaN
189 2006-07-01   39.9548  12.643803           NaN
190 2006-08-01   38.8615  12.241379           NaN
191 2006-09-01   39.1292  12.414966           NaN
192 2006-10-01   39.1312  11.794440           NaN
193 2006-11-01   38.9958  10.741049           NaN
194 2006-12-01   37.5914  10.330579           NaN
195 2007-01-01   38.9823   9.551020           NaN
196 2007-02-01   38.3217   8.587480           NaN
197 2007-03-01   37.4215   8.022240           NaN
198 2007-04-01   36.9035   8.031496           NaN
199 2007-05-01   36.5716   8.339829           NaN
200 2007-06-01   35.7429   9.105058           NaN
201 2007-07-01   35.6388   7.888631           NaN
202 2007-08-01   35.7562   7.603687           NaN
203 2007-09-01   36.3813   7.866868           NaN
204 2007-10-01   36.3602   8.138659           NaN
205 2007-11-01   37.1785   9.248120           NaN
206 2007-12-01   36.7844   9.962547           NaN
207 2008-01-01   37.5434  11.028316           NaN
208 2008-02-01   37.7222  11.899483           NaN
209 2008-03-01   38.7147  16.323529           NaN
210 2008-04-01   38.4124  16.516035           NaN
211 2008-05-01   38.8782  15.640288           NaN
212 2008-06-01   39.5597  15.741797           NaN
213 2008-07-01   39.7740  18.279570           NaN
214 2008-08-01   39.9945  18.843683           NaN
215 2008-09-01   39.9535  19.775596           NaN
216 2008-10-01   39.9601  18.048780           NaN
217 2008-11-01   40.3273  13.833448           NaN
218 2008-12-01   39.8176  10.149864           NaN
219 2009-01-01   40.4392   8.053691           NaN
220 2009-02-01   40.4601   5.878468           NaN
221 2009-03-01   40.7022   1.011378           NaN
222 2009-04-01   40.7963   0.087577           NaN
223 2009-05-01   40.8162  -0.398159           NaN
224 2009-06-01   41.1596  -1.029149           NaN
225 2009-07-01   41.4482  -2.484848           NaN
226 2009-08-01   41.4335  -2.762763           NaN
227 2009-09-01   41.7737  -4.625293           NaN
228 2009-10-01   42.0271  -3.482881  1.162961e+08
229 2009-11-01   42.2804  -0.785973  1.020740e+08
230 2009-12-01   42.0193   2.040816  1.480573e+08
231 2010-01-01   38.7000   6.086957  1.089251e+08
232 2010-02-01   38.6375   5.177792  1.525305e+08
233 2010-03-01   39.6156   6.070088  1.504902e+08
234 2010-04-01   39.5097   6.312500  1.228134e+08
235 2010-05-01   39.7925   6.433479  1.168990e+08
236 2010-06-01   39.7991   6.288917  1.101615e+08
237 2010-07-01   39.8392   6.028589  1.149293e+08
238 2010-08-01   39.8522   5.373687  1.141121e+08
239 2010-09-01   39.9405   4.665439  1.158790e+08
240 2010-10-01   40.0954   4.587156  1.265479e+08
241 2010-11-01   40.1493   5.118830  1.114397e+08
242 2010-12-01   39.8817   6.181818  1.607694e+08
243 2011-01-01   40.3363   3.747073  1.097959e+08
244 2011-02-01   40.3803   6.405694  1.390374e+08
245 2011-03-01   40.2588   7.197640  1.584616e+08
246 2011-04-01   40.2540   7.877719  1.487465e+08
247 2011-05-01   40.2586   8.392019  1.344263e+08
248 2011-06-01   40.3239   9.373169  1.205955e+08
249 2011-07-01   40.4165   9.495897  1.089209e+08
250 2011-08-01   40.6484   9.613130  1.118328e+08
251 2011-09-01   40.8742  10.381232  1.208150e+08
252 2011-10-01   41.0060  10.409357  1.242728e+08
253 2011-11-01   41.0958   9.681159  1.125077e+08
254 2011-12-01   40.9734   8.276256  1.636087e+08
255 2012-01-01   41.3309   7.731377  1.041399e+08
256 2012-02-01   41.5340   6.688963  1.476308e+08
257 2012-03-01   41.5810   5.723720  1.678369e+08
258 2012-04-01   41.7230   5.395095  1.415148e+08
259 2012-05-01   41.9112   5.197618  1.378123e+08
260 2012-06-01   41.9761   4.927691  1.296066e+08
261 2012-07-01   42.0188   5.299786  1.220384e+08
262 2012-08-01   42.1923   6.096257  1.269318e+08
263 2012-09-01   42.3222   6.535600  1.344253e+08
264 2012-10-01   42.4121   6.832627  1.333157e+08
265 2012-11-01   42.5778   7.452431  1.221859e+08
266 2012-12-01   42.5530   7.590933  1.767984e+08
267 2013-01-01   42.7534   7.228916  1.215699e+08
268 2013-02-01   42.8610   7.419018  1.421176e+08
269 2013-03-01   43.0166   7.652264  1.905997e+08
270 2013-04-01   43.3461   7.290589  1.642376e+08
271 2013-05-01   43.6803   7.308286  1.567461e+08
272 2013-06-01   43.7922   6.482899  1.441678e+08
273 2013-07-01   43.7326   6.151500  1.369879e+08
274 2013-08-01   43.7555   5.544355  1.470417e+08
275 2013-09-01   43.7429   4.538653  1.452269e+08
276 2013-10-01   43.8080   4.164601  1.531124e+08
277 2013-11-01   43.8496   3.443187  1.395215e+08
278 2013-12-01   43.8820   3.429691  1.947389e+08
279 2014-01-01   44.0151   3.370787  1.339040e+08
280 2014-02-01   44.3479   3.210117  1.679772e+08
281 2014-03-01   44.7062   3.239845  1.965820e+08
282 2014-04-01   44.9934   3.469880  1.798655e+08
283 2014-05-01   44.3551   3.525682  1.712485e+08
284 2014-06-01   45.3399   4.179178  1.540576e+08
285 2014-07-01   45.3552   4.837165  1.518548e+08
286 2014-08-01   45.3829   5.062082  1.613969e+08
287 2014-09-01   45.5577   5.343511  1.727746e+08
288 2014-10-01   45.7572   5.759162  1.670723e+08
289 2014-11-01   46.5991   6.229196  1.494564e+08
290 2014-12-01   46.7477   6.442444  2.199821e+08
291 2015-01-01   46.9277   6.616257  1.483467e+08
292 2015-02-01   47.1441   6.597549  1.814766e+08
293 2015-03-01   47.1789   6.416862  2.180446e+08
294 2015-04-01   47.3801   6.334420  1.940778e+08
295 2015-05-01   48.1113   6.647618  1.887734e+08
296 2015-06-01   51.5866   7.952518  1.842403e+08
297 2015-07-01   55.2174   9.319324  1.821563e+08
298 2015-08-01   51.6674  10.363636  1.807489e+08
299 2015-09-01   52.1417  11.277174  1.811849e+08
300 2015-10-01   53.7793  11.701170  1.815118e+08
301 2015-11-01   56.1368  11.951656  1.629640e+08
302 2015-12-01   56.6970  12.505563  2.394494e+08
303 2016-01-01   59.4546  13.253546  1.538613e+08
304 2016-02-01   61.4393  14.367816  1.998690e+08
305 2016-03-01   61.7627  14.832746  2.373603e+08
306 2016-04-01   61.9572  15.243101  2.112917e+08
307 2016-05-01   62.2054  15.073849  2.022031e+08
308 2016-06-01   62.8939  13.895993  1.889388e+08
309 2016-07-01   63.6545  12.912662  1.846568e+08
310 2016-08-01   64.8864  12.355848  1.976261e+08
311 2016-09-01   65.5368  12.494912  1.989211e+08
312 2016-10-01   66.3278  13.336019  2.022611e+08
313 2016-11-01   67.0629  14.154338  1.837744e+08
314 2016-12-01   67.3944  14.280063  2.557601e+08
315 2017-01-01   67.7976  14.100000  1.724050e+08
316 2017-02-01   68.3332  13.900000  1.958924e+08
317 2017-03-01   69.3523  14.300000  2.663494e+08
318 2017-04-01   67.6004  14.600000  2.345924e+08
319 2017-05-01   62.2023  15.500000  2.294771e+08
320 2017-06-01   62.3516  15.800000  2.151459e+08
321 2017-07-01   62.4717  15.600000  2.234927e+08
322 2017-08-01   62.6587  15.600000  2.208650e+08
323 2017-09-01   62.6900  15.400000  2.141498e+08
324 2017-10-01   62.9405  14.400000  2.319887e+08
325 2017-11-01   63.3030  13.700000  2.227248e+08
326 2017-12-01   63.6871  13.300000  3.096416e+08
327 2018-01-01   63.8271  13.200000  2.227568e+08
328 2018-02-01   64.1154  13.200000  2.478855e+08
329 2018-03-01   65.2715  12.900000  3.233553e+08
330 2018-04-01   65.5747  13.000000  2.738905e+08
331 2018-05-01   66.1431  12.700000  2.701860e+08
332 2018-06-01   66.9070  13.000000  2.550204e+08
333 2018-07-01   67.7221  13.600000  2.439138e+08
334 2018-08-01   69.1096  14.100000  2.609032e+08
335 2018-09-01   69.9774  14.600000  2.522052e+08
336 2018-10-01   72.2672  14.300000  2.611756e+08
337 2018-11-01   74.6114  14.500000  2.388478e+08
338 2018-12-01   77.1881  15.100000  3.507726e+08
339 2019-01-01   81.0353  15.500000  2.440045e+08
340 2019-02-01   82.0249  17.000000  2.423867e+08
341 2019-03-01   82.6061  16.700000  3.238851e+08
342 2019-04-01   86.0961  17.700000  3.068589e+08
343 2019-05-01   92.5356  18.000000  2.966206e+08
344 2019-06-01   93.0256  18.600000  2.614969e+08
345 2019-07-01   93.2599  19.100000  2.775489e+08
346 2019-08-01   93.3893  19.500000  2.859473e+08
347 2019-09-01   93.3162  19.700000  2.383561e+08
348 2019-10-01   91.7459  20.000000  2.383263e+08
349 2019-11-01   91.7155  20.400000  2.400336e+08
350 2019-12-01   91.9842  20.800000  3.703876e+08
351 2020-01-01   92.7940  20.700000  2.518831e+08
352 2020-02-01   94.7716  20.800000  2.725441e+08
353 2020-03-01   97.9700  22.000000  3.014705e+08
354 2020-04-01  102.8348  22.300000           NaN
355 2020-05-01  108.9426  23.400000           NaN
356 2020-06-01  113.3133        NaN           NaN
357 2020-07-01  119.6463        NaN           NaN

In [173]:
imex = pd.read_excel(url4_5, sheet_name='im_ex')
imex.head()

     date  US_IMP_HT  US_EXP_HT
0  1985M1       31.2       31.2
1  1985M2       30.4       31.8
2  1985M3       36.7       31.9
3  1985M4       33.2       32.9
4  1985M5       31.0       35.3

In [174]:
imex['Date'] = np.nan
for i in range(len(exch)):
    imex.loc[69+i, 'Date'] = exch.loc[i, exch.columns[0]]
    
imex['end_rate'] = np.nan
for i in range(len(exch)):
    imex.loc[69+i, 'end_rate'] = exch.loc[i, 'end_rate']
    
imex['inf'] = np.nan
for i in range(len(exch)):
    imex.loc[189-120+i, 'inf'] = exch.loc[i, 'inf']
    
imex['rec_rem'] = np.nan
for i in range(len(trans)):
    imex.loc[297+i, 'rec_rem'] = trans.loc[i, 'tot_in_formal']

In [175]:
imex.head()

     date  US_IMP_HT  US_EXP_HT Date  end_rate  inf  rec_rem
0  1985M1       31.2       31.2  NaN       NaN  NaN      NaN
1  1985M2       30.4       31.8  NaN       NaN  NaN      NaN
2  1985M3       36.7       31.9  NaN       NaN  NaN      NaN
3  1985M4       33.2       32.9  NaN       NaN  NaN      NaN
4  1985M5       31.0       35.3  NaN       NaN  NaN      NaN

In [176]:
imex.tail()

        date  US_IMP_HT  US_EXP_HT Date  end_rate  inf  rec_rem
427   2020M8        0.0        0.0  NaN       NaN  NaN      NaN
428   2020M9        0.0        0.0  NaN       NaN  NaN      NaN
429  2020M10        0.0        0.0  NaN       NaN  NaN      NaN
430  2020M11        0.0        0.0  NaN       NaN  NaN      NaN
431  2020M12        0.0        0.0  NaN       NaN  NaN      NaN

In [177]:
imex.drop(imex.index[432:], inplace=True)

In [178]:
imex

,date,US_IMP_HT,US_EXP_HT,Date,end_rate,inf,rec_rem
0,1985M1,31.200000,31.200000,NaN,NaN,NaN,NaN
1,1985M2,30.400000,31.800000,NaN,NaN,NaN,NaN
2,1985M3,36.700000,31.900000,NaN,NaN,NaN,NaN
3,1985M4,33.200000,32.900000,NaN,NaN,NaN,NaN
4,1985M5,31.000000,35.300000,NaN,NaN,NaN,NaN
5,1985M6,39.600000,28.800000,NaN,NaN,NaN,NaN
6,1985M7,30.200000,33.300000,NaN,NaN,NaN,NaN
7,1985M8,30.600000,34.400000,NaN,NaN,NaN,NaN
8,1985M9,27.200000,29.700000,NaN,NaN,NaN,NaN
9,1985M10,32.400000,45.100000,NaN,NaN,NaN,NaN
10,1985M11,32.000000,34.700000,NaN,NaN,NaN,NaN
11,1985M12,35.100000,26.800000,NaN,NaN,NaN,NaN
12,1986M1,29.900000,21.800000,NaN,NaN,NaN,NaN
13,1986M2,24.600000,25.900000,NaN,NaN,NaN,NaN
14,1986M3,33.300000,32.600000,NaN,NaN,NaN,NaN
15,1986M4,28.600000,29.700000,NaN,NaN,NaN,NaN
16,1986M5,39.700000,38.300000,NaN,NaN,NaN,NaN
17,1986M6,33.500000,31.300000,NaN,NaN,NaN,NaN
18,1986M7,34.100000,32.300000,NaN,NaN,NaN,NaN
19,1986M8,33.700000,38.300000,NaN,NaN,NaN,NaN
20,1986M9,29.200000,34.600000,NaN,NaN,NaN,NaN
21,1986M10,27.200000,36.900000,NaN,NaN,NaN,NaN
22,1986M11,34.600000,36.100000,NaN,NaN,NaN,NaN
23,1986M12,26.900000,29.500000,NaN,NaN,NaN,NaN
24,1987M1,23.400000,28.800000,NaN,NaN,NaN,NaN
25,1987M2,36.700000,34.500000,NaN,NaN,NaN,NaN
26,1987M3,36.500000,42.500000,NaN,NaN,NaN,NaN
27,1987M4,31.800000,38.900000,NaN,NaN,NaN,NaN
28,1987M5,33.700000,48.800000,NaN,NaN,NaN,NaN
29,1987M6,32.900000,39.800000,NaN,NaN,NaN,NaN
30,1987M7,28.500000,32.200000,NaN,NaN,NaN,NaN
31,1987M8,35.700000,38.000000,NaN,NaN,NaN,NaN
32,1987M9,36.600000,41.600000,NaN,NaN,NaN,NaN
33,1987M10,37.300000,40.800000,NaN,NaN,NaN,NaN
34,1987M11,30.400000,42.500000,NaN,NaN,NaN,NaN
35,1987M12,31.200000,30.500000,NaN,NaN,NaN,NaN
36,1988M1,25.800000,29.500000,NaN,NaN,NaN,NaN
37,1988M2,30.100000,33.300000,NaN,NaN,NaN,NaN
38,1988M3,39.500000,42.600000,NaN,NaN,NaN,NaN
39,1988M4,30.600000,39.300000,NaN,NaN,NaN,NaN
40,1988M5,34.500000,42.400000,NaN,NaN,NaN,NaN
41,1988M6,34.100000,40.900000,NaN,NaN,NaN,NaN
42,1988M7,34.300000,41.000000,NaN,NaN,NaN,NaN
43,1988M8,32.800000,43.000000,NaN,NaN,NaN,NaN
44,1988M9,31.900000,37.100000,NaN,NaN,NaN,NaN
45,1988M10,30.000000,40.800000,NaN,NaN,NaN,NaN
46,1988M11,28.400000,42.100000,NaN,NaN,NaN,NaN
47,1988M12,30.500000,43.000000,NaN,NaN,NaN,NaN
48,1989M1,19.600000,39.000000,NaN,NaN,NaN,NaN
49,1989M2,30.300000,34.400000,NaN,NaN,NaN,NaN
50,1989M3,37.000000,42.400000,NaN,NaN,NaN,NaN
51,1989M4,26.300000,38.600000,NaN,NaN,NaN,NaN
52,1989M5,34.600000,44.600000,NaN,NaN,NaN,NaN
53,1989M6,33.300000,39.200000,NaN,NaN,NaN,NaN
54,1989M7,33.000000,34.800000,NaN,NaN,NaN,NaN
55,1989M8,32.800000,45.100000,NaN,NaN,NaN,NaN
56,1989M9,33.800000,44.900000,NaN,NaN,NaN,NaN
57,1989M10,34.000000,41.700000,NaN,NaN,NaN,NaN
58,1989M11,28.400000,31.100000,NaN,NaN,NaN,NaN
59,1989M12,31.200000,35.700000,NaN,NaN,NaN,NaN
60,1990M1,26.100000,43.100000,NaN,NaN,NaN,NaN
61,1990M2,30.600000,34.800000,NaN,NaN,NaN,NaN
62,1990M3,31.000000,37.600000,NaN,NaN,NaN,NaN
63,1990M4,29.000000,35.100000,NaN,NaN,NaN,NaN
64,1990M5,32.100000,45.300000,NaN,NaN,NaN,NaN
65,1990M6,27.600000,39.600000,NaN,NaN,NaN,NaN
66,1990M7,29.000000,40.400000,NaN,NaN,NaN,NaN
67,1990M8,28.800000,41.600000,NaN,NaN,NaN,NaN
68,1990M9,28.700000,36.800000,NaN,NaN,NaN,NaN
69,1990M10,28.600000,45.600000,1990-10-01 00:00:00,7.8050,NaN,NaN
70,1990M11,27.800000,43.500000,1990-11-01 00:00:00,8.1500,NaN,NaN
71,1990M12,23.700000,33.100000,1990-12-01 00:00:00,7.8500,NaN,NaN
72,1991M1,15.000000,34.200000,1991-01-01 00:00:00,7.6700,NaN,NaN
73,1991M2,22.200000,29.900000,1991-02-01 00:00:00,7.7250,NaN,NaN
74,1991M3,29.600000,39.500000,1991-03-01 00:00:00,7.9650,NaN,NaN
75,1991M4,27.300000,43.000000,1991-04-01 00:00:00,7.5250,NaN,NaN
76,1991M5,29.400000,41.100000,1991-05-01 00:00:00,7.4500,NaN,NaN
77,1991M6,28.000000,39.800000,1991-06-01 00:00:00,7.5900,NaN,NaN
78,1991M7,26.700000,39.200000,1991-07-01 00:00:00,7.3300,NaN,NaN
79,1991M8,27.900000,43.300000,1991-08-01 00:00:00,7.3300,NaN,NaN
80,1991M9,29.000000,40.100000,1991-09-01 00:00:00,7.4850,NaN,NaN
81,1991M10,21.500000,26.900000,1991-10-01 00:00:00,8.1300,NaN,NaN
82,1991M11,16.700000,15.100000,1991-11-01 00:00:00,8.3000,NaN,NaN
83,1991M12,10.900000,3.100000,1991-12-01 00:00:00,8.2400,NaN,NaN
84,1992M1,0.500000,11.700000,1992-01-01 00:00:00,8.5490,NaN,NaN
85,1992M2,1.500000,13.900000,1992-02-01 00:00:00,8.7780,NaN,NaN
86,1992M3,7.500000,13.900000,1992-03-01 00:00:00,8.9110,NaN,NaN
87,1992M4,10.300000,13.500000,1992-04-01 00:00:00,9.2700,NaN,NaN
88,1992M5,10.500000,19.200000,1992-05-01 00:00:00,9.7260,NaN,NaN
89,1992M6,11.000000,17.200000,1992-06-01 00:00:00,9.7970,NaN,NaN
90,1992M7,11.500000,17.500000,1992-07-01 00:00:00,9.5050,NaN,NaN
91,1992M8,9.800000,20.000000,1992-08-01 00:00:00,9.8560,NaN,NaN
92,1992M9,11.600000,19.500000,1992-09-01 00:00:00,10.1780,NaN,NaN
93,1992M10,10.800000,23.600000,1992-10-01 00:00:00,10.5090,NaN,NaN
94,1992M11,10.300000,19.500000,1992-11-01 00:00:00,11.3540,NaN,NaN
95,1992M12,11.700000,19.800000,1992-12-01 00:00:00,10.9530,NaN,NaN
96,1993M1,7.000000,15.200000,1993-01-01 00:00:00,12.2949,NaN,NaN
97,1993M2,11.100000,17.400000,1993-02-01 00:00:00,11.0000,NaN,NaN
98,1993M3,13.300000,17.800000,1993-03-01 00:00:00,12.8344,NaN,NaN
99,1993M4,13.700000,25.200000,1993-04-01 00:00:00,13.4196,NaN,NaN
100,1993M5,13.200000,22.000000,1993-05-01 00:00:00,14.4485,NaN,NaN
101,1993M6,17.400000,21.200000,1993-06-01 00:00:00,13.6558,NaN,NaN
102,1993M7,14.000000,14.700000,1993-07-01 00:00:00,12.3758,NaN,NaN
103,1993M8,14.200000,19.300000,1993-08-01 00:00:00,12.4661,NaN,NaN
104,1993M9,14.800000,31.000000,1993-09-01 00:00:00,12.3966,NaN,NaN
105,1993M10,10.800000,24.200000,1993-10-01 00:00:00,12.4866,NaN,NaN
106,1993M11,12.100000,7.600000,1993-11-01 00:00:00,13.1677,NaN,NaN
107,1993M12,12.500000,13.000000,1993-12-01 00:00:00,12.8049,NaN,NaN
108,1994M1,7.000000,14.900000,1994-01-01 00:00:00,13.7755,NaN,NaN
109,1994M2,8.200000,13.500000,1994-02-01 00:00:00,13.8890,NaN,NaN
110,1994M3,10.800000,18.100000,1994-03-01 00:00:00,14.2177,NaN,NaN
111,1994M4,8.200000,14.300000,1994-04-01 00:00:00,14.9482,NaN,NaN
112,1994M5,12.600000,8.400000,1994-05-01 00:00:00,14.8599,NaN,NaN
113,1994M6,1.700000,7.000000,1994-06-01 00:00:00,14.6436,NaN,NaN
114,1994M7,0.100000,4.200000,1994-07-01 00:00:00,17.1647,NaN,NaN
115,1994M8,0.200000,2.700000,1994-08-01 00:00:00,21.4932,NaN,NaN
116,1994M9,0.000000,5.000000,1994-09-01 00:00:00,15.0964,NaN,NaN
117,1994M10,0.900000,20.900000,1994-10-01 00:00:00,14.2828,NaN,NaN
118,1994M11,4.200000,45.300000,1994-11-01 00:00:00,14.0546,NaN,NaN
119,1994M12,4.800000,50.100000,1994-12-01 00:00:00,12.9466,NaN,NaN
120,1995M1,5.200000,50.500000,1995-01-01 00:00:00,14.1560,NaN,NaN
121,1995M2,13.200000,42.500000,1995-02-01 00:00:00,13.9795,NaN,NaN
122,1995M3,9.800000,43.600000,1995-03-01 00:00:00,14.4729,NaN,NaN
123,1995M4,10.300000,37.900000,1995-04-01 00:00:00,14.2410,NaN,NaN
124,1995M5,13.300000,53.200000,1995-05-01 00:00:00,14.6439,NaN,NaN
125,1995M6,13.500000,53.100000,1995-06-01 00:00:00,15.0698,NaN,NaN
126,1995M7,13.200000,39.900000,1995-07-01 00:00:00,15.0173,NaN,NaN
127,1995M8,13.300000,41.500000,1995-08-01 00:00:00,15.6292,NaN,NaN
128,1995M9,10.300000,60.400000,1995-09-01 00:00:00,15.5384,NaN,NaN
129,1995M10,10.000000,47.400000,1995-10-01 00:00:00,17.0236,NaN,NaN
130,1995M11,8.400000,31.600000,1995-11-01 00:00:00,16.1755,NaN,NaN
131,1995M12,9.400000,48.500000,1995-12-01 00:00:00,16.1599,NaN,NaN
132,1996M1,7.100000,34.200000,1996-01-01 00:00:00,16.7830,NaN,NaN
133,1996M2,8.500000,47.200000,1996-02-01 00:00:00,16.5518,NaN,NaN
134,1996M3,10.600000,36.100000,1996-03-01 00:00:00,16.8024,NaN,NaN
135,1996M4,11.000000,44.100000,1996-04-01 00:00:00,16.3635,NaN,NaN
136,1996M5,12.000000,50.700000,1996-05-01 00:00:00,16.0997,NaN,NaN
137,1996M6,11.800000,32.800000,1996-06-01 00:00:00,15.5882,NaN,NaN
138,1996M7,14.200000,34.500000,1996-07-01 00:00:00,15.0446,NaN,NaN
139,1996M8,14.700000,37.400000,1996-08-01 00:00:00,15.0343,NaN,NaN
140,1996M9,13.700000,33.700000,1996-09-01 00:00:00,15.0454,NaN,NaN
141,1996M10,13.700000,46.600000,1996-10-01 00:00:00,15.5525,NaN,NaN
142,1996M11,12.200000,42.900000,1996-11-01 00:00:00,15.2733,NaN,NaN
143,1996M12,13.900000,34.600000,1996-12-01 00:00:00,15.0928,NaN,NaN
144,1997M1,8.400000,33.200000,1997-01-01 00:00:00,16.2599,NaN,NaN
145,1997M2,12.000000,36.100000,1997-02-01 00:00:00,16.1117,NaN,NaN
146,1997M3,14.500000,40.700000,1997-03-01 00:00:00,16.5056,NaN,NaN
147,1997M4,16.400000,40.200000,1997-04-01 00:00:00,16.6913,NaN,NaN
148,1997M5,16.900000,36.300000,1997-05-01 00:00:00,16.8170,NaN,NaN
149,1997M6,17.400000,36.900000,1997-06-01 00:00:00,16.7564,NaN,NaN
150,1997M7,17.800000,47.200000,1997-07-01 00:00:00,16.4850,NaN,NaN
151,1997M8,15.600000,43.600000,1997-08-01 00:00:00,16.7518,NaN,NaN
152,1997M9,16.800000,45.900000,1997-09-01 00:00:00,16.9496,NaN,NaN
153,1997M10,18.300000,46.900000,1997-10-01 00:00:00,17.4131,NaN,NaN
154,1997M11,15.100000,45.700000,1997-11-01 00:00:00,16.8719,NaN,NaN
155,1997M12,19.100000,46.400000,1997-12-01 00:00:00,17.3110,NaN,NaN
156,1998M1,14.300000,38.400000,1998-01-01 00:00:00,17.5602,NaN,NaN
157,1998M2,19.900000,36.600000,1998-02-01 00:00:00,17.3752,NaN,NaN
158,1998M3,21.800000,46.100000,1998-03-01 00:00:00,17.3427,NaN,NaN
159,1998M4,21.200000,45.900000,1998-04-01 00:00:00,16.9492,NaN,NaN
160,1998M5,21.300000,47.800000,1998-05-01 00:00:00,16.6870,NaN,NaN
161,1998M6,24.600000,44.600000,1998-06-01 00:00:00,15.6646,NaN,NaN
162,1998M7,27.600000,44.800000,1998-07-01 00:00:00,16.0670,NaN,NaN
163,1998M8,23.100000,48.500000,1998-08-01 00:00:00,16.5075,NaN,NaN
164,1998M9,25.200000,35.400000,1998-09-01 00:00:00,16.8475,NaN,NaN
165,1998M10,26.200000,60.600000,1998-10-01 00:00:00,16.3043,NaN,NaN
166,1998M11,21.500000,44.800000,1998-11-01 00:00:00,16.5948,NaN,NaN
167,1998M12,25.000000,55.100000,1998-12-01 00:00:00,16.5046,NaN,NaN
168,1999M1,14.300000,43.900000,1999-01-01 00:00:00,16.7778,NaN,NaN
169,1999M2,22.300000,46.700000,1999-02-01 00:00:00,16.8943,NaN,NaN
170,1999M3,26.300000,51.100000,1999-03-01 00:00:00,16.6816,NaN,NaN
171,1999M4,23.600000,62.500000,1999-04-01 00:00:00,16.6876,NaN,NaN
172,1999M5,25.100000,58.800000,1999-05-01 00:00:00,16.6990,NaN,NaN
173,1999M6,29.100000,50.500000,1999-06-01 00:00:00,16.7046,NaN,NaN
174,1999M7,30.900000,56.500000,1999-07-01 00:00:00,16.8242,NaN,NaN
175,1999M8,28.400000,47.700000,1999-08-01 00:00:00,16.7961,NaN,NaN
176,1999M9,29.000000,44.600000,1999-09-01 00:00:00,16.9411,NaN,NaN
177,1999M10,23.200000,43.600000,1999-10-01 00:00:00,17.5482,NaN,NaN
178,1999M11,22.900000,52.200000,1999-11-01 00:00:00,17.9632,NaN,NaN
179,1999M12,25.900000,55.800000,1999-12-01 00:00:00,17.9654,NaN,NaN
180,2000M1,16.200000,44.100000,2000-01-01 00:00:00,18.2620,NaN,NaN
181,2000M2,23.100000,49.600000,2000-02-01 00:00:00,19.1848,NaN,NaN
182,2000M3,24.900000,53.800000,2000-03-01 00:00:00,19.7373,NaN,NaN
183,2000M4,22.700000,50.200000,2000-04-01 00:00:00,19.7265,NaN,NaN
184,2000M5,28.500000,50.000000,2000-05-01 00:00:00,19.6744,NaN,NaN
185,2000M6,27.700000,48.000000,2000-06-01 00:00:00,20.3781,NaN,NaN
186,2000M7,26.700000,41.400000,2000-07-01 00:00:00,20.8679,NaN,NaN
187,2000M8,27.300000,47.000000,2000-08-01 00:00:00,21.6345,NaN,NaN
188,2000M9,25.700000,49.500000,2000-09-01 00:00:00,28.3337,NaN,NaN
189,2000M10,24.200000,46.200000,2000-10-01 00:00:00,23.5820,17.552597,NaN
190,2000M11,24.200000,48.700000,2000-11-01 00:00:00,23.8881,18.203284,NaN
191,2000M12,25.700000,48.200000,2000-12-01 00:00:00,22.5242,18.712925,NaN
192,2001M1,17.700000,39.300000,2001-01-01 00:00:00,23.7612,18.237854,NaN
193,2001M2,21.500000,45.500000,2001-02-01 00:00:00,23.5483,18.141152,NaN
194,2001M3,24.600000,55.600000,2001-03-01 00:00:00,23.9641,16.011816,NaN
195,2001M4,23.100000,40.800000,2001-04-01 00:00:00,23.4651,15.718287,NaN
196,2001M5,24.500000,54.900000,2001-05-01 00:00:00,23.5197,16.566146,NaN
197,2001M6,24.800000,54.000000,2001-06-01 00:00:00,24.3731,16.258061,NaN
198,2001M7,22.800000,41.800000,2001-07-01 00:00:00,24.1052,15.211160,NaN
199,2001M8,23.400000,47.800000,2001-08-01 00:00:00,24.4244,14.778490,NaN
200,2001M9,19.300000,45.000000,2001-09-01 00:00:00,25.4927,11.454722,NaN
201,2001M10,23.900000,44.200000,2001-10-01 00:00:00,26.0076,9.510513,NaN
202,2001M11,20.400000,38.200000,2001-11-01 00:00:00,25.9602,8.992442,NaN
203,2001M12,17.200000,43.300000,2001-12-01 00:00:00,26.3389,8.951710,NaN
204,2002M1,13.900000,34.300000,2002-01-01 00:00:00,26.6744,8.662774,NaN
205,2002M2,16.300000,38.000000,2002-02-01 00:00:00,27.1982,8.545214,NaN
206,2002M3,21.800000,43.800000,2002-03-01 00:00:00,26.7658,9.012227,NaN
207,2002M4,20.300000,49.800000,2002-04-01 00:00:00,26.6768,8.787053,NaN
208,2002M5,26.000000,57.000000,2002-05-01 00:00:00,26.9701,8.160935,NaN
209,2002M6,20.700000,44.600000,2002-06-01 00:00:00,27.2819,9.111229,NaN
210,2002M7,23.500000,52.400000,2002-07-01 00:00:00,28.4377,10.249944,NaN
211,2002M8,21.600000,42.900000,2002-08-01 00:00:00,28.7608,10.898381,NaN
212,2002M9,24.400000,40.600000,2002-09-01 00:00:00,29.6984,11.372640,NaN
213,2002M10,22.500000,54.500000,2002-10-01 00:00:00,32.9547,12.339791,NaN
214,2002M11,18.200000,58.300000,2002-11-01 00:00:00,37.2729,13.317746,NaN
215,2002M12,26.000000,57.000000,2002-12-01 00:00:00,37.6092,15.136440,NaN
216,2003M1,16.214502,56.479105,2003-01-01 00:00:00,41.5097,22.394984,NaN
217,2003M2,25.077773,53.245385,2003-02-01 00:00:00,44.5181,25.867686,NaN
218,2003M3,27.036510,60.158562,2003-03-01 00:00:00,42.2152,28.365394,NaN
219,2003M4,28.128048,51.495352,2003-04-01 00:00:00,42.3014,30.699525,NaN
220,2003M5,31.407800,45.634996,2003-05-01 00:00:00,40.5400,31.880531,NaN
221,2003M6,27.667402,51.524173,2003-06-01 00:00:00,42.8573,32.788149,NaN
222,2003M7,31.388771,51.498110,2003-07-01 00:00:00,42.7099,32.501975,NaN
223,2003M8,27.908003,56.920930,2003-08-01 00:00:00,41.2170,35.043712,NaN
224,2003M9,28.374283,54.548385,2003-09-01 00:00:00,42.0253,37.780532,NaN
225,2003M10,34.084196,56.561035,2003-10-01 00:00:00,41.9623,37.052102,NaN
226,2003M11,27.457495,53.769787,2003-11-01 00:00:00,42.8229,37.038113,NaN
227,2003M12,27.595526,47.604763,2003-12-01 00:00:00,42.0849,35.420068,NaN
228,2004M1,17.768909,58.440184,2004-01-01 00:00:00,44.0850,28.504028,NaN
229,2004M2,29.369847,38.601010,2004-02-01 00:00:00,44.0038,25.981013,NaN
230,2004M3,23.659779,35.729907,2004-03-01 00:00:00,40.2165,25.619009,NaN
231,2004M4,34.101221,55.217716,2004-04-01 00:00:00,37.7444,28.443859,NaN
232,2004M5,32.664321,68.984619,2004-05-01 00:00:00,36.9540,28.495760,NaN
233,2004M6,29.738428,63.994729,2004-06-01 00:00:00,35.7358,27.221726,NaN
234,2004M7,32.555231,53.323295,2004-07-01 00:00:00,36.0315,26.520891,NaN
235,2004M8,35.515906,51.067803,2004-08-01 00:00:00,36.0958,22.896171,NaN
236,2004M9,34.252334,59.993466,2004-09-01 00:00:00,36.8229,21.679156,NaN
237,2004M10,30.772502,60.825216,2004-10-01 00:00:00,37.1563,20.532917,NaN
238,2004M11,34.884998,70.536796,2004-11-01 00:00:00,37.4848,19.405086,NaN
239,2004M12,35.397244,56.263415,2004-12-01 00:00:00,37.2318,19.142299,NaN
240,2005M1,21.040946,45.521939,2005-01-01 00:00:00,37.6915,19.846452,NaN
241,2005M2,30.617258,57.709488,2005-02-01 00:00:00,37.8931,19.272826,NaN
242,2005M3,46.080994,49.121085,2005-03-01 00:00:00,38.2039,17.081374,NaN
243,2005M4,40.162101,71.298225,2005-04-01 00:00:00,39.0311,13.215644,NaN
244,2005M5,39.716080,60.733514,2005-05-01 00:00:00,38.7025,13.666169,NaN
245,2005M6,43.227040,51.656500,2005-06-01 00:00:00,39.9245,14.462517,NaN
246,2005M7,42.433181,53.811653,2005-07-01 00:00:00,42.0759,15.276879,NaN
247,2005M8,35.007022,63.465438,2005-08-01 00:00:00,42.3415,16.000000,NaN
248,2005M9,34.722058,52.583798,2005-09-01 00:00:00,43.0426,14.848266,NaN
249,2005M10,38.201099,59.958087,2005-10-01 00:00:00,43.0291,15.267283,NaN
250,2005M11,40.987088,70.902141,2005-11-01 00:00:00,43.0612,15.979155,NaN
251,2005M12,35.022448,72.858729,2005-12-01 00:00:00,43.0003,15.348354,NaN
252,2006M1,23.111432,66.634064,2006-01-01 00:00:00,43.4757,14.533612,NaN
253,2006M2,31.535959,65.784435,2006-02-01 00:00:00,42.9775,15.262011,NaN
254,2006M3,46.528015,62.831462,2006-03-01 00:00:00,42.6885,15.272218,NaN
255,2006M4,40.108493,78.555875,2006-04-01 00:00:00,41.0963,15.123768,NaN
256,2006M5,50.772659,75.722516,2006-05-01 00:00:00,39.0188,14.236734,NaN
257,2006M6,39.778970,68.884603,2006-06-01 00:00:00,39.8619,13.007507,NaN
258,2006M7,43.109911,56.883415,2006-07-01 00:00:00,39.9548,12.643803,NaN
259,2006M8,42.125945,60.984027,2006-08-01 00:00:00,38.8615,12.241379,NaN
260,2006M9,46.952725,70.299735,2006-09-01 00:00:00,39.1292,12.414966,NaN
261,2006M10,46.978252,76.791067,2006-10-01 00:00:00,39.1312,11.794440,NaN
262,2006M11,46.984731,67.376917,2006-11-01 00:00:00,38.9958,10.741049,NaN
263,2006M12,38.123888,66.619196,2006-12-01 00:00:00,37.5914,10.330579,NaN
264,2007M1,26.152208,54.134949,2007-01-01 00:00:00,38.9823,9.551020,NaN
265,2007M2,43.293136,53.095651,2007-02-01 00:00:00,38.3217,8.587480,NaN
266,2007M3,46.203274,67.252619,2007-03-01 00:00:00,37.4215,8.022240,NaN
267,2007M4,43.187350,56.001383,2007-04-01 00:00:00,36.9035,8.031496,NaN
268,2007M5,41.427076,54.574897,2007-05-01 00:00:00,36.5716,8.339829,NaN
269,2007M6,42.970847,54.836616,2007-06-01 00:00:00,35.7429,9.105058,NaN
270,2007M7,38.318154,53.615537,2007-07-01 00:00:00,35.6388,7.888631,NaN
271,2007M8,42.846897,50.550279,2007-08-01 00:00:00,35.7562,7.603687,NaN
272,2007M9,40.726212,55.020538,2007-09-01 00:00:00,36.3813,7.866868,NaN
273,2007M10,45.382188,73.278128,2007-10-01 00:00:00,36.3602,8.138659,NaN
274,2007M11,39.712391,54.603664,2007-11-01 00:00:00,37.1785,9.248120,NaN
275,2007M12,37.547383,53.223799,2007-12-01 00:00:00,36.7844,9.962547,NaN
276,2008M1,18.967030,49.611037,2008-01-01 00:00:00,37.5434,11.028316,NaN
277,2008M2,28.076125,67.374875,2008-02-01 00:00:00,37.7222,11.899483,NaN
278,2008M3,33.133897,74.283557,2008-03-01 00:00:00,38.7147,16.323529,NaN
279,2008M4,37.879766,63.078898,2008-04-01 00:00:00,38.4124,16.516035,NaN
280,2008M5,41.580115,71.438326,2008-05-01 00:00:00,38.8782,15.640288,NaN
281,2008M6,41.800680,68.900721,2008-06-01 00:00:00,39.5597,15.741797,NaN
282,2008M7,50.358071,85.122152,2008-07-01 00:00:00,39.7740,18.279570,NaN
283,2008M8,36.567185,93.584181,2008-08-01 00:00:00,39.9945,18.843683,NaN
284,2008M9,46.343611,120.803771,2008-09-01 00:00:00,39.9535,19.775596,NaN
285,2008M10,45.352648,95.566801,2008-10-01 00:00:00,39.9601,18.048780,NaN
286,2008M11,32.328478,84.332992,2008-11-01 00:00:00,40.3273,13.833448,NaN
287,2008M12,37.694939,69.893816,2008-12-01 00:00:00,39.8176,10.149864,NaN
288,2009M1,20.897777,47.427666,2009-01-01 00:00:00,40.4392,8.053691,NaN
289,2009M2,40.692035,67.394986,2009-02-01 00:00:00,40.4601,5.878468,NaN
290,2009M3,44.432994,84.433725,2009-03-01 00:00:00,40.7022,1.011378,NaN
291,2009M4,43.610408,67.240041,2009-04-01 00:00:00,40.7963,0.087577,NaN
292,2009M5,51.604101,77.396524,2009-05-01 00:00:00,40.8162,-0.398159,NaN
293,2009M6,56.421630,57.566047,2009-06-01 00:00:00,41.1596,-1.029149,NaN
294,2009M7,54.957581,72.982140,2009-07-01 00:00:00,41.4482,-2.484848,NaN
295,2009M8,50.786326,64.302071,2009-08-01 00:00:00,41.4335,-2.762763,NaN
296,2009M9,49.507922,60.118800,2009-09-01 00:00:00,41.7737,-4.625293,NaN
297,2009M10,44.521535,63.380599,2009-10-01 00:00:00,42.0271,-3.482881,1.162961e+08
298,2009M11,45.992225,66.674769,2009-11-01 00:00:00,42.2804,-0.785973,1.020740e+08
299,2009M12,48.666202,61.489259,2009-12-01 00:00:00,42.0193,2.040816,1.480573e+08
300,2010M1,6.401135,80.661141,2010-01-01 00:00:00,38.7000,6.086957,1.089251e+08
301,2010M2,29.396001,126.351030,2010-02-01 00:00:00,38.6375,5.177792,1.525305e+08
302,2010M3,44.583118,138.292684,2010-03-01 00:00:00,39.6156,6.070088,1.504902e+08
303,2010M4,46.071686,116.361811,2010-04-01 00:00:00,39.5097,6.312500,1.228134e+08
304,2010M5,46.908232,109.553550,2010-05-01 00:00:00,39.7925,6.433479,1.168990e+08
305,2010M6,60.746215,105.052742,2010-06-01 00:00:00,39.7991,6.288917,1.101615e+08
306,2010M7,50.809986,93.395210,2010-07-01 00:00:00,39.8392,6.028589,1.149293e+08

In [179]:
aan = pd.read_excel(url6_7, sheet_name='regular_passengers')
aan.head()

  Unnamed: 0  INT_REG_DEB  INT_REG_EMB
0     2014M1        44891        56478
1     2014M2        41446        41646
2     2014M3        52201        57193
3     2014M4        47486        51378
4     2014M5        42911        51720

In [180]:
imex['int_reg_deb'] = np.nan
for i in range(len(aan)):
    imex.loc[348+i, 'int_reg_deb'] = aan.loc[i, 'INT_REG_DEB']
    
imex['int_reg_emb'] = np.nan
for i in range(len(aan)):
    imex.loc[348+i, 'int_reg_emb'] = aan.loc[i, 'INT_REG_EMB']

In [181]:
imex

,date,US_IMP_HT,US_EXP_HT,Date,end_rate,inf,rec_rem,int_reg_deb,int_reg_emb
0,1985M1,31.200000,31.200000,NaN,NaN,NaN,NaN,NaN,NaN
1,1985M2,30.400000,31.800000,NaN,NaN,NaN,NaN,NaN,NaN
2,1985M3,36.700000,31.900000,NaN,NaN,NaN,NaN,NaN,NaN
3,1985M4,33.200000,32.900000,NaN,NaN,NaN,NaN,NaN,NaN
4,1985M5,31.000000,35.300000,NaN,NaN,NaN,NaN,NaN,NaN
5,1985M6,39.600000,28.800000,NaN,NaN,NaN,NaN,NaN,NaN
6,1985M7,30.200000,33.300000,NaN,NaN,NaN,NaN,NaN,NaN
7,1985M8,30.600000,34.400000,NaN,NaN,NaN,NaN,NaN,NaN
8,1985M9,27.200000,29.700000,NaN,NaN,NaN,NaN,NaN,NaN
9,1985M10,32.400000,45.100000,NaN,NaN,NaN,NaN,NaN,NaN
10,1985M11,32.000000,34.700000,NaN,NaN,NaN,NaN,NaN,NaN
11,1985M12,35.100000,26.800000,NaN,NaN,NaN,NaN,NaN,NaN
12,1986M1,29.900000,21.800000,NaN,NaN,NaN,NaN,NaN,NaN
13,1986M2,24.600000,25.900000,NaN,NaN,NaN,NaN,NaN,NaN
14,1986M3,33.300000,32.600000,NaN,NaN,NaN,NaN,NaN,NaN
15,1986M4,28.600000,29.700000,NaN,NaN,NaN,NaN,NaN,NaN
16,1986M5,39.700000,38.300000,NaN,NaN,NaN,NaN,NaN,NaN
17,1986M6,33.500000,31.300000,NaN,NaN,NaN,NaN,NaN,NaN
18,1986M7,34.100000,32.300000,NaN,NaN,NaN,NaN,NaN,NaN
19,1986M8,33.700000,38.300000,NaN,NaN,NaN,NaN,NaN,NaN
20,1986M9,29.200000,34.600000,NaN,NaN,NaN,NaN,NaN,NaN
21,1986M10,27.200000,36.900000,NaN,NaN,NaN,NaN,NaN,NaN
22,1986M11,34.600000,36.100000,NaN,NaN,NaN,NaN,NaN,NaN
23,1986M12,26.900000,29.500000,NaN,NaN,NaN,NaN,NaN,NaN
24,1987M1,23.400000,28.800000,NaN,NaN,NaN,NaN,NaN,NaN
25,1987M2,36.700000,34.500000,NaN,NaN,NaN,NaN,NaN,NaN
26,1987M3,36.500000,42.500000,NaN,NaN,NaN,NaN,NaN,NaN
27,1987M4,31.800000,38.900000,NaN,NaN,NaN,NaN,NaN,NaN
28,1987M5,33.700000,48.800000,NaN,NaN,NaN,NaN,NaN,NaN
29,1987M6,32.900000,39.800000,NaN,NaN,NaN,NaN,NaN,NaN
30,1987M7,28.500000,32.200000,NaN,NaN,NaN,NaN,NaN,NaN
31,1987M8,35.700000,38.000000,NaN,NaN,NaN,NaN,NaN,NaN
32,1987M9,36.600000,41.600000,NaN,NaN,NaN,NaN,NaN,NaN
33,1987M10,37.300000,40.800000,NaN,NaN,NaN,NaN,NaN,NaN
34,1987M11,30.400000,42.500000,NaN,NaN,NaN,NaN,NaN,NaN
35,1987M12,31.200000,30.500000,NaN,NaN,NaN,NaN,NaN,NaN
36,1988M1,25.800000,29.500000,NaN,NaN,NaN,NaN,NaN,NaN
37,1988M2,30.100000,33.300000,NaN,NaN,NaN,NaN,NaN,NaN
38,1988M3,39.500000,42.600000,NaN,NaN,NaN,NaN,NaN,NaN
39,1988M4,30.600000,39.300000,NaN,NaN,NaN,NaN,NaN,NaN
40,1988M5,34.500000,42.400000,NaN,NaN,NaN,NaN,NaN,NaN
41,1988M6,34.100000,40.900000,NaN,NaN,NaN,NaN,NaN,NaN
42,1988M7,34.300000,41.000000,NaN,NaN,NaN,NaN,NaN,NaN
43,1988M8,32.800000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN
44,1988M9,31.900000,37.100000,NaN,NaN,NaN,NaN,NaN,NaN
45,1988M10,30.000000,40.800000,NaN,NaN,NaN,NaN,NaN,NaN
46,1988M11,28.400000,42.100000,NaN,NaN,NaN,NaN,NaN,NaN
47,1988M12,30.500000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN
48,1989M1,19.600000,39.000000,NaN,NaN,NaN,NaN,NaN,NaN
49,1989M2,30.300000,34.400000,NaN,NaN,NaN,NaN,NaN,NaN
50,1989M3,37.000000,42.400000,NaN,NaN,NaN,NaN,NaN,NaN
51,1989M4,26.300000,38.600000,NaN,NaN,NaN,NaN,NaN,NaN
52,1989M5,34.600000,44.600000,NaN,NaN,NaN,NaN,NaN,NaN
53,1989M6,33.300000,39.200000,NaN,NaN,NaN,NaN,NaN,NaN
54,1989M7,33.000000,34.800000,NaN,NaN,NaN,NaN,NaN,NaN
55,1989M8,32.800000,45.100000,NaN,NaN,NaN,NaN,NaN,NaN
56,1989M9,33.800000,44.900000,NaN,NaN,NaN,NaN,NaN,NaN
57,1989M10,34.000000,41.700000,NaN,NaN,NaN,NaN,NaN,NaN
58,1989M11,28.400000,31.100000,NaN,NaN,NaN,NaN,NaN,NaN
59,1989M12,31.200000,35.700000,NaN,NaN,NaN,NaN,NaN,NaN
60,1990M1,26.100000,43.100000,NaN,NaN,NaN,NaN,NaN,NaN
61,1990M2,30.600000,34.800000,NaN,NaN,NaN,NaN,NaN,NaN
62,1990M3,31.000000,37.600000,NaN,NaN,NaN,NaN,NaN,NaN
63,1990M4,29.000000,35.100000,NaN,NaN,NaN,NaN,NaN,NaN
64,1990M5,32.100000,45.300000,NaN,NaN,NaN,NaN,NaN,NaN
65,1990M6,27.600000,39.600000,NaN,NaN,NaN,NaN,NaN,NaN
66,1990M7,29.000000,40.400000,NaN,NaN,NaN,NaN,NaN,NaN
67,1990M8,28.800000,41.600000,NaN,NaN,NaN,NaN,NaN,NaN
68,1990M9,28.700000,36.800000,NaN,NaN,NaN,NaN,NaN,NaN
69,1990M10,28.600000,45.600000,1990-10-01 00:00:00,7.8050,NaN,NaN,NaN,NaN
70,1990M11,27.800000,43.500000,1990-11-01 00:00:00,8.1500,NaN,NaN,NaN,NaN
71,1990M12,23.700000,33.100000,1990-12-01 00:00:00,7.8500,NaN,NaN,NaN,NaN
72,1991M1,15.000000,34.200000,1991-01-01 00:00:00,7.6700,NaN,NaN,NaN,NaN
73,1991M2,22.200000,29.900000,1991-02-01 00:00:00,7.7250,NaN,NaN,NaN,NaN
74,1991M3,29.600000,39.500000,1991-03-01 00:00:00,7.9650,NaN,NaN,NaN,NaN
75,1991M4,27.300000,43.000000,1991-04-01 00:00:00,7.5250,NaN,NaN,NaN,NaN
76,1991M5,29.400000,41.100000,1991-05-01 00:00:00,7.4500,NaN,NaN,NaN,NaN
77,1991M6,28.000000,39.800000,1991-06-01 00:00:00,7.5900,NaN,NaN,NaN,NaN
78,1991M7,26.700000,39.200000,1991-07-01 00:00:00,7.3300,NaN,NaN,NaN,NaN
79,1991M8,27.900000,43.300000,1991-08-01 00:00:00,7.3300,NaN,NaN,NaN,NaN
80,1991M9,29.000000,40.100000,1991-09-01 00:00:00,7.4850,NaN,NaN,NaN,NaN
81,1991M10,21.500000,26.900000,1991-10-01 00:00:00,8.1300,NaN,NaN,NaN,NaN
82,1991M11,16.700000,15.100000,1991-11-01 00:00:00,8.3000,NaN,NaN,NaN,NaN
83,1991M12,10.900000,3.100000,1991-12-01 00:00:00,8.2400,NaN,NaN,NaN,NaN
84,1992M1,0.500000,11.700000,1992-01-01 00:00:00,8.5490,NaN,NaN,NaN,NaN
85,1992M2,1.500000,13.900000,1992-02-01 00:00:00,8.7780,NaN,NaN,NaN,NaN
86,1992M3,7.500000,13.900000,1992-03-01 00:00:00,8.9110,NaN,NaN,NaN,NaN
87,1992M4,10.300000,13.500000,1992-04-01 00:00:00,9.2700,NaN,NaN,NaN,NaN
88,1992M5,10.500000,19.200000,1992-05-01 00:00:00,9.7260,NaN,NaN,NaN,NaN
89,1992M6,11.000000,17.200000,1992-06-01 00:00:00,9.7970,NaN,NaN,NaN,NaN
90,1992M7,11.500000,17.500000,1992-07-01 00:00:00,9.5050,NaN,NaN,NaN,NaN
91,1992M8,9.800000,20.000000,1992-08-01 00:00:00,9.8560,NaN,NaN,NaN,NaN
92,1992M9,11.600000,19.500000,1992-09-01 00:00:00,10.1780,NaN,NaN,NaN,NaN
93,1992M10,10.800000,23.600000,1992-10-01 00:00:00,10.5090,NaN,NaN,NaN,NaN
94,1992M11,10.300000,19.500000,1992-11-01 00:00:00,11.3540,NaN,NaN,NaN,NaN
95,1992M12,11.700000,19.800000,1992-12-01 00:00:00,10.9530,NaN,NaN,NaN,NaN
96,1993M1,7.000000,15.200000,1993-01-01 00:00:00,12.2949,NaN,NaN,NaN,NaN
97,1993M2,11.100000,17.400000,1993-02-01 00:00:00,11.0000,NaN,NaN,NaN,NaN
98,1993M3,13.300000,17.800000,1993-03-01 00:00:00,12.8344,NaN,NaN,NaN,NaN
99,1993M4,13.700000,25.200000,1993-04-01 00:00:00,13.4196,NaN,NaN,NaN,NaN
100,1993M5,13.200000,22.000000,1993-05-01 00:00:00,14.4485,NaN,NaN,NaN,NaN
101,1993M6,17.400000,21.200000,1993-06-01 00:00:00,13.6558,NaN,NaN,NaN,NaN
102,1993M7,14.000000,14.700000,1993-07-01 00:00:00,12.3758,NaN,NaN,NaN,NaN
103,1993M8,14.200000,19.300000,1993-08-01 00:00:00,12.4661,NaN,NaN,NaN,NaN
104,1993M9,14.800000,31.000000,1993-09-01 00:00:00,12.3966,NaN,NaN,NaN,NaN
105,1993M10,10.800000,24.200000,1993-10-01 00:00:00,12.4866,NaN,NaN,NaN,NaN
106,1993M11,12.100000,7.600000,1993-11-01 00:00:00,13.1677,NaN,NaN,NaN,NaN
107,1993M12,12.500000,13.000000,1993-12-01 00:00:00,12.8049,NaN,NaN,NaN,NaN
108,1994M1,7.000000,14.900000,1994-01-01 00:00:00,13.7755,NaN,NaN,NaN,NaN
109,1994M2,8.200000,13.500000,1994-02-01 00:00:00,13.8890,NaN,NaN,NaN,NaN
110,1994M3,10.800000,18.100000,1994-03-01 00:00:00,14.2177,NaN,NaN,NaN,NaN
111,1994M4,8.200000,14.300000,1994-04-01 00:00:00,14.9482,NaN,NaN,NaN,NaN
112,1994M5,12.600000,8.400000,1994-05-01 00:00:00,14.8599,NaN,NaN,NaN,NaN
113,1994M6,1.700000,7.000000,1994-06-01 00:00:00,14.6436,NaN,NaN,NaN,NaN
114,1994M7,0.100000,4.200000,1994-07-01 00:00:00,17.1647,NaN,NaN,NaN,NaN
115,1994M8,0.200000,2.700000,1994-08-01 00:00:00,21.4932,NaN,NaN,NaN,NaN
116,1994M9,0.000000,5.000000,1994-09-01 00:00:00,15.0964,NaN,NaN,NaN,NaN
117,1994M10,0.900000,20.900000,1994-10-01 00:00:00,14.2828,NaN,NaN,NaN,NaN
118,1994M11,4.200000,45.300000,1994-11-01 00:00:00,14.0546,NaN,NaN,NaN,NaN
119,1994M12,4.800000,50.100000,1994-12-01 00:00:00,12.9466,NaN,NaN,NaN,NaN
120,1995M1,5.200000,50.500000,1995-01-01 00:00:00,14.1560,NaN,NaN,NaN,NaN
121,1995M2,13.200000,42.500000,1995-02-01 00:00:00,13.9795,NaN,NaN,NaN,NaN
122,1995M3,9.800000,43.600000,1995-03-01 00:00:00,14.4729,NaN,NaN,NaN,NaN
123,1995M4,10.300000,37.900000,1995-04-01 00:00:00,14.2410,NaN,NaN,NaN,NaN
124,1995M5,13.300000,53.200000,1995-05-01 00:00:00,14.6439,NaN,NaN,NaN,NaN
125,1995M6,13.500000,53.100000,1995-06-01 00:00:00,15.0698,NaN,NaN,NaN,NaN
126,1995M7,13.200000,39.900000,1995-07-01 00:00:00,15.0173,NaN,NaN,NaN,NaN
127,1995M8,13.300000,41.500000,1995-08-01 00:00:00,15.6292,NaN,NaN,NaN,NaN
128,1995M9,10.300000,60.400000,1995-09-01 00:00:00,15.5384,NaN,NaN,NaN,NaN
129,1995M10,10.000000,47.400000,1995-10-01 00:00:00,17.0236,NaN,NaN,NaN,NaN
130,1995M11,8.400000,31.600000,1995-11-01 00:00:00,16.1755,NaN,NaN,NaN,NaN
131,1995M12,9.400000,48.500000,1995-12-01 00:00:00,16.1599,NaN,NaN,NaN,NaN
132,1996M1,7.100000,34.200000,1996-01-01 00:00:00,16.7830,NaN,NaN,NaN,NaN
133,1996M2,8.500000,47.200000,1996-02-01 00:00:00,16.5518,NaN,NaN,NaN,NaN
134,1996M3,10.600000,36.100000,1996-03-01 00:00:00,16.8024,NaN,NaN,NaN,NaN
135,1996M4,11.000000,44.100000,1996-04-01 00:00:00,16.3635,NaN,NaN,NaN,NaN
136,1996M5,12.000000,50.700000,1996-05-01 00:00:00,16.0997,NaN,NaN,NaN,NaN
137,1996M6,11.800000,32.800000,1996-06-01 00:00:00,15.5882,NaN,NaN,NaN,NaN
138,1996M7,14.200000,34.500000,1996-07-01 00:00:00,15.0446,NaN,NaN,NaN,NaN
139,1996M8,14.700000,37.400000,1996-08-01 00:00:00,15.0343,NaN,NaN,NaN,NaN
140,1996M9,13.700000,33.700000,1996-09-01 00:00:00,15.0454,NaN,NaN,NaN,NaN
141,1996M10,13.700000,46.600000,1996-10-01 00:00:00,15.5525,NaN,NaN,NaN,NaN
142,1996M11,12.200000,42.900000,1996-11-01 00:00:00,15.2733,NaN,NaN,NaN,NaN
143,1996M12,13.900000,34.600000,1996-12-01 00:00:00,15.0928,NaN,NaN,NaN,NaN
144,1997M1,8.400000,33.200000,1997-01-01 00:00:00,16.2599,NaN,NaN,NaN,NaN
145,1997M2,12.000000,36.100000,1997-02-01 00:00:00,16.1117,NaN,NaN,NaN,NaN
146,1997M3,14.500000,40.700000,1997-03-01 00:00:00,16.5056,NaN,NaN,NaN,NaN
147,1997M4,16.400000,40.200000,1997-04-01 00:00:00,16.6913,NaN,NaN,NaN,NaN
148,1997M5,16.900000,36.300000,1997-05-01 00:00:00,16.8170,NaN,NaN,NaN,NaN
149,1997M6,17.400000,36.900000,1997-06-01 00:00:00,16.7564,NaN,NaN,NaN,NaN
150,1997M7,17.800000,47.200000,1997-07-01 00:00:00,16.4850,NaN,NaN,NaN,NaN
151,1997M8,15.600000,43.600000,1997-08-01 00:00:00,16.7518,NaN,NaN,NaN,NaN
152,1997M9,16.800000,45.900000,1997-09-01 00:00:00,16.9496,NaN,NaN,NaN,NaN
153,1997M10,18.300000,46.900000,1997-10-01 00:00:00,17.4131,NaN,NaN,NaN,NaN
154,1997M11,15.100000,45.700000,1997-11-01 00:00:00,16.8719,NaN,NaN,NaN,NaN
155,1997M12,19.100000,46.400000,1997-12-01 00:00:00,17.3110,NaN,NaN,NaN,NaN
156,1998M1,14.300000,38.400000,1998-01-01 00:00:00,17.5602,NaN,NaN,NaN,NaN
157,1998M2,19.900000,36.600000,1998-02-01 00:00:00,17.3752,NaN,NaN,NaN,NaN
158,1998M3,21.800000,46.100000,1998-03-01 00:00:00,17.3427,NaN,NaN,NaN,NaN
159,1998M4,21.200000,45.900000,1998-04-01 00:00:00,16.9492,NaN,NaN,NaN,NaN
160,1998M5,21.300000,47.800000,1998-05-01 00:00:00,16.6870,NaN,NaN,NaN,NaN
161,1998M6,24.600000,44.600000,1998-06-01 00:00:00,15.6646,NaN,NaN,NaN,NaN
162,1998M7,27.600000,44.800000,1998-07-01 00:00:00,16.0670,NaN,NaN,NaN,NaN
163,1998M8,23.100000,48.500000,1998-08-01 00:00:00,16.5075,NaN,NaN,NaN,NaN
164,1998M9,25.200000,35.400000,1998-09-01 00:00:00,16.8475,NaN,NaN,NaN,NaN
165,1998M10,26.200000,60.600000,1998-10-01 00:00:00,16.3043,NaN,NaN,NaN,NaN
166,1998M11,21.500000,44.800000,1998-11-01 00:00:00,16.5948,NaN,NaN,NaN,NaN
167,1998M12,25.000000,55.100000,1998-12-01 00:00:00,16.5046,NaN,NaN,NaN,NaN
168,1999M1,14.300000,43.900000,1999-01-01 00:00:00,16.7778,NaN,NaN,NaN,NaN
169,1999M2,22.300000,46.700000,1999-02-01 00:00:00,16.8943,NaN,NaN,NaN,NaN
170,1999M3,26.300000,51.100000,1999-03-01 00:00:00,16.6816,NaN,NaN,NaN,NaN
171,1999M4,23.600000,62.500000,1999-04-01 00:00:00,16.6876,NaN,NaN,NaN,NaN
172,1999M5,25.100000,58.800000,1999-05-01 00:00:00,16.6990,NaN,NaN,NaN,NaN
173,1999M6,29.100000,50.500000,1999-06-01 00:00:00,16.7046,NaN,NaN,NaN,NaN
174,1999M7,30.900000,56.500000,1999-07-01 00:00:00,16.8242,NaN,NaN,NaN,NaN
175,1999M8,28.400000,47.700000,1999-08-01 00:00:00,16.7961,NaN,NaN,NaN,NaN
176,1999M9,29.000000,44.600000,1999-09-01 00:00:00,16.9411,NaN,NaN,NaN,NaN
177,1999M10,23.200000,43.600000,1999-10-01 00:00:00,17.5482,NaN,NaN,NaN,NaN
178,1999M11,22.900000,52.200000,1999-11-01 00:00:00,17.9632,NaN,NaN,NaN,NaN
179,1999M12,25.900000,55.800000,1999-12-01 00:00:00,17.9654,NaN,NaN,NaN,NaN
180,2000M1,16.200000,44.100000,2000-01-01 00:00:00,18.2620,NaN,NaN,NaN,NaN
181,2000M2,23.100000,49.600000,2000-02-01 00:00:00,19.1848,NaN,NaN,NaN,NaN
182,2000M3,24.900000,53.800000,2000-03-01 00:00:00,19.7373,NaN,NaN,NaN,NaN
183,2000M4,22.700000,50.200000,2000-04-01 00:00:00,19.7265,NaN,NaN,NaN,NaN
184,2000M5,28.500000,50.000000,2000-05-01 00:00:00,19.6744,NaN,NaN,NaN,NaN
185,2000M6,27.700000,48.000000,2000-06-01 00:00:00,20.3781,NaN,NaN,NaN,NaN
186,2000M7,26.700000,41.400000,2000-07-01 00:00:00,20.8679,NaN,NaN,NaN,NaN
187,2000M8,27.300000,47.000000,2000-08-01 00:00:00,21.6345,NaN,NaN,NaN,NaN
188,2000M9,25.700000,49.500000,2000-09-01 00:00:00,28.3337,NaN,NaN,NaN,NaN
189,2000M10,24.200000,46.200000,2000-10-01 00:00:00,23.5820,17.552597,NaN,NaN,NaN
190,2000M11,24.200000,48.700000,2000-11-01 00:00:00,23.8881,18.203284,NaN,NaN,NaN
191,2000M12,25.700000,48.200000,2000-12-01 00:00:00,22.5242,18.712925,NaN,NaN,NaN
192,2001M1,17.700000,39.300000,2001-01-01 00:00:00,23.7612,18.237854,NaN,NaN,NaN
193,2001M2,21.500000,45.500000,2001-02-01 00:00:00,23.5483,18.141152,NaN,NaN,NaN
194,2001M3,24.600000,55.600000,2001-03-01 00:00:00,23.9641,16.011816,NaN,NaN,NaN
195,2001M4,23.100000,40.800000,2001-04-01 00:00:00,23.4651,15.718287,NaN,NaN,NaN
196,2001M5,24.500000,54.900000,2001-05-01 00:00:00,23.5197,16.566146,NaN,NaN,NaN
197,2001M6,24.800000,54.000000,2001-06-01 00:00:00,24.3731,16.258061,NaN,NaN,NaN
198,2001M7,22.800000,41.800000,2001-07-01 00:00:00,24.1052,15.211160,NaN,NaN,NaN
199,2001M8,23.400000,47.800000,2001-08-01 00:00:00,24.4244,14.778490,NaN,NaN,NaN
200,2001M9,19.300000,45.000000,2001-09-01 00:00:00,25.4927,11.454722,NaN,NaN,NaN
201,2001M10,23.900000,44.200000,2001-10-01 00:00:00,26.0076,9.510513,NaN,NaN,NaN
202,2001M11,20.400000,38.200000,2001-11-01 00:00:00,25.9602,8.992442,NaN,NaN,NaN
203,2001M12,17.200000,43.300000,2001-12-01 00:00:00,26.3389,8.951710,NaN,NaN,NaN
204,2002M1,13.900000,34.300000,2002-01-01 00:00:00,26.6744,8.662774,NaN,NaN,NaN
205,2002M2,16.300000,38.000000,2002-02-01 00:00:00,27.1982,8.545214,NaN,NaN,NaN
206,2002M3,21.800000,43.800000,2002-03-01 00:00:00,26.7658,9.012227,NaN,NaN,NaN
207,2002M4,20.300000,49.800000,2002-04-01 00:00:00,26.6768,8.787053,NaN,NaN,NaN
208,2002M5,26.000000,57.000000,2002-05-01 00:00:00,26.9701,8.160935,NaN,NaN,NaN
209,2002M6,20.700000,44.600000,2002-06-01 00:00:00,27.2819,9.111229,NaN,NaN,NaN
210,2002M7,23.500000,52.400000,2002-07-01 00:00:00,28.4377,10.249944,NaN,NaN,NaN
211,2002M8,21.600000,42.900000,2002-08-01 00:00:00,28.7608,10.898381,NaN,NaN,NaN
212,2002M9,24.400000,40.600000,2002-09-01 00:00:00,29.6984,11.372640,NaN,NaN,NaN
213,2002M10,22.500000,54.500000,2002-10-01 00:00:00,32.9547,12.339791,NaN,NaN,NaN
214,2002M11,18.200000,58.300000,2002-11-01 00:00:00,37.2729,13.317746,NaN,NaN,NaN
215,2002M12,26.000000,57.000000,2002-12-01 00:00:00,37.6092,15.136440,NaN,NaN,NaN
216,2003M1,16.214502,56.479105,2003-01-01 00:00:00,41.5097,22.394984,NaN,NaN,NaN
217,2003M2,25.077773,53.245385,2003-02-01 00:00:00,44.5181,25.867686,NaN,NaN,NaN
218,2003M3,27.036510,60.158562,2003-03-01 00:00:00,42.2152,28.365394,NaN,NaN,NaN
219,2003M4,28.128048,51.495352,2003-04-01 00:00:00,42.3014,30.699525,NaN,NaN,NaN
220,2003M5,31.407800,45.634996,2003-05-01 00:00:00,40.5400,31.880531,NaN,NaN,NaN
221,2003M6,27.667402,51.524173,2003-06-01 00:00:00,42.8573,32.788149,NaN,NaN,NaN
222,2003M7,31.388771,51.498110,2003-07-01 00:00:00,42.7099,32.501975,NaN,NaN,NaN
223,2003M8,27.908003,56.920930,2003-08-01 00:00:00,41.2170,35.043712,NaN,NaN,NaN
224,2003M9,28.374283,54.548385,2003-09-01 00:00:00,42.0253,37.780532,NaN,NaN,NaN
225,2003M10,34.084196,56.561035,2003-10-01 00:00:00,41.9623,37.052102,NaN,NaN,NaN
226,2003M11,27.457495,53.769787,2003-11-01 00:00:00,42.8229,37.038113,NaN,NaN,NaN
227,2003M12,27.595526,47.604763,2003-12-01 00:00:00,42.0849,35.420068,NaN,NaN,NaN
228,2004M1,17.768909,58.440184,2004-01-01 00:00:00,44.0850,28.504028,NaN,NaN,NaN
229,2004M2,29.369847,38.601010,2004-02-01 00:00:00,44.0038,25.981013,NaN,NaN,NaN
230,2004M3,23.659779,35.729907,2004-03-01 00:00:00,40.2165,25.619009,NaN,NaN,NaN
231,2004M4,34.101221,55.217716,2004-04-01 00:00:00,37.7444,28.443859,NaN,NaN,NaN
232,2004M5,32.664321,68.984619,2004-05-01 00:00:00,36.9540,28.495760,NaN,NaN,NaN
233,2004M6,29.738428,63.994729,2004-06-01 00:00:00,35.7358,27.221726,NaN,NaN,NaN
234,2004M7,32.555231,53.323295,2004-07-01 00:00:00,36.0315,26.520891,NaN,NaN,NaN
235,2004M8,35.515906,51.067803,2004-08-01 00:00:00,36.0958,22.896171,NaN,NaN,NaN
236,2004M9,34.252334,59.993466,2004-09-01 00:00:00,36.8229,21.679156,NaN,NaN,NaN
237,2004M10,30.772502,60.825216,2004-10-01 00:00:00,37.1563,20.532917,NaN,NaN,NaN
238,2004M11,34.884998,70.536796,2004-11-01 00:00:00,37.4848,19.405086,NaN,NaN,NaN
239,2004M12,35.397244,56.263415,2004-12-01 00:00:00,37.2318,19.142299,NaN,NaN,NaN
240,2005M1,21.040946,45.521939,2005-01-01 00:00:00,37.6915,19.846452,NaN,NaN,NaN
241,2005M2,30.617258,57.709488,2005-02-01 00:00:00,37.8931,19.272826,NaN,NaN,NaN
242,2005M3,46.080994,49.121085,2005-03-01 00:00:00,38.2039,17.081374,NaN,NaN,NaN
243,2005M4,40.162101,71.298225,2005-04-01 00:00:00,39.0311,13.215644,NaN,NaN,NaN
244,2005M5,39.716080,60.733514,2005-05-01 00:00:00,38.7025,13.666169,NaN,NaN,NaN
245,2005M6,43.227040,51.656500,2005-06-01 00:00:00,39.9245,14.462517,NaN,NaN,NaN
246,2005M7,42.433181,53.811653,2005-07-01 00:00:00,42.0759,15.276879,NaN,NaN,NaN
247,2005M8,35.007022,63.465438,2005-08-01 00:00:00,42.3415,16.000000,NaN,NaN,NaN
248,2005M9,34.722058,52.583798,2005-09-01 00:00:00,43.0426,14.848266,NaN,NaN,NaN
249,2005M10,38.201099,59.958087,2005-10-01 00:00:00,43.0291,15.267283,NaN,NaN,NaN
250,2005M11,40.987088,70.902141,2005-11-01 00:00:00,43.0612,15.979155,NaN,NaN,NaN
251,2005M12,35.022448,72.858729,2005-12-01 00:00:00,43.0003,15.348354,NaN,NaN,NaN
252,2006M1,23.111432,66.634064,2006-01-01 00:00:00,43.4757,14.533612,NaN,NaN,NaN
253,2006M2,31.535959,65.784435,2006-02-01 00:00:00,42.9775,15.262011,NaN,NaN,NaN
254,2006M3,46.528015,62.831462,2006-03-01 00:00:00,42.6885,15.272218,NaN,NaN,NaN
255,2006M4,40.108493,78.555875,2006-04-01 00:00:00,41.0963,15.123768,NaN,NaN,NaN
256,2006M5,50.772659,75.722516,2006-05-01 00:00:00,39.0188,14.236734,NaN,NaN,NaN
257,2006M6,39.778970,68.884603,2006-06-01 00:00:00,39.8619,13.007507,NaN,NaN,NaN
258,2006M7,43.109911,56.883415,2006-07-01 00:00:00,39.9548,12.643803,NaN,NaN,NaN
259,2006M8,42.125945,60.984027,2006-08-01 00:00:00,38.8615,12.241379,NaN,NaN,NaN
260,2006M9,46.952725,70.299735,2006-09-01 00:00:00,39.1292,12.414966,NaN,NaN,NaN
261,2006M10,46.978252,76.791067,2006-10-01 00:00:00,39.1312,11.794440,NaN,NaN,NaN
262,2006M11,46.984731,67.376917,2006-11-01 00:00:00,38.9958,10.741049,NaN,NaN,NaN
263,2006M12,38.123888,66.619196,2006-12-01 00:00:00,37.5914,10.330579,NaN,NaN,NaN
264,2007M1,26.152208,54.134949,2007-01-01 00:00:00,38.9823,9.551020,NaN,NaN,NaN
265,2007M2,43.293136,53.095651,2007-02-01 00:00:00,38.3217,8.587480,NaN,NaN,NaN
266,2007M3,46.203274,67.252619,2007-03-01 00:00:00,37.4215,8.022240,NaN,NaN,NaN
267,2007M4,43.187350,56.001383,2007-04-01 00:00:00,36.9035,8.031496,NaN,NaN,NaN
268,2007M5,41.427076,54.574897,2007-05-01 00:00:00,36.5716,8.339829,NaN,NaN,NaN
269,2007M6,42.970847,54.836616,2007-06-01 00:00:00,35.7429,9.105058,NaN,NaN,NaN
270,2007M7,38.318154,53.615537,2007-07-01 00:00:00,35.6388,7.888631,NaN,NaN,NaN
271,2007M8,42.846897,50.550279,2007-08-01 00:00:00,35.7562,7.603687,NaN,NaN,NaN
272,2007M9,40.726212,55.020538,2007-09-01 00:00:00,36.3813,7.866868,NaN,NaN,NaN
273,2007M10,45.382188,73.278128,2007-10-01 00:00:00,36.3602,8.138659,NaN,NaN,NaN
274,2007M11,39.712391,54.603664,2007-11-01 00:00:00,37.1785,9.248120,NaN,NaN,NaN
275,2007M12,37.547383,53.223799,2007-12-01 00:00:00,36.7844,9.962547,NaN,NaN,NaN
276,2008M1,18.967030,49.611037,2008-01-01 00:00:00,37.5434,11.028316,NaN,NaN,NaN
277,2008M2,28.076125,67.374875,2008-02-01 00:00:00,37.7222,11.899483,NaN,NaN,NaN

In [182]:
imex.drop('Date', axis=1, inplace=True)
imex.head()

,date,US_IMP_HT,US_EXP_HT,end_rate,inf,rec_rem,int_reg_deb,int_reg_emb
0,1985M1,31.2,31.2,NaN,NaN,NaN,NaN,NaN
1,1985M2,30.4,31.8,NaN,NaN,NaN,NaN,NaN
2,1985M3,36.7,31.9,NaN,NaN,NaN,NaN,NaN
3,1985M4,33.2,32.9,NaN,NaN,NaN,NaN,NaN
4,1985M5,31.0,35.3,NaN,NaN,NaN,NaN,NaN

In [183]:
imex['US_IMP_HT'] = imex['US_IMP_HT']*(10**6)
imex['US_EXP_HT'] = imex['US_EXP_HT']*(10**6)

In [184]:
imex.head()

,date,US_IMP_HT,US_EXP_HT,end_rate,inf,rec_rem,int_reg_deb,int_reg_emb
0,1985M1,31200000.0,31200000.0,NaN,NaN,NaN,NaN,NaN
1,1985M2,30400000.0,31800000.0,NaN,NaN,NaN,NaN,NaN
2,1985M3,36700000.0,31900000.0,NaN,NaN,NaN,NaN,NaN
3,1985M4,33200000.0,32900000.0,NaN,NaN,NaN,NaN,NaN
4,1985M5,31000000.0,35300000.0,NaN,NaN,NaN,NaN,NaN

In [190]:
imex.to_excel('results/USHTG_rate_and_features.xlsx')

In [191]:
df = imex.copy()

In [192]:
df.dropna(subset=['int_reg_emb'], inplace=True)

In [193]:
df.head()

,date,US_IMP_HT,US_EXP_HT,end_rate,inf,rec_rem,int_reg_deb,int_reg_emb
348,2014M1,44843398.0,98991983.0,44.0151,3.370787,1.339040e+08,44891.0,56478.0
349,2014M2,72252658.0,79821039.0,44.3479,3.210117,1.679772e+08,41446.0,41646.0
350,2014M3,67067495.0,128131695.0,44.7062,3.239845,1.965820e+08,52201.0,57193.0
351,2014M4,71276176.0,93306047.0,44.9934,3.469880,1.798655e+08,47486.0,51378.0
352,2014M5,76678909.0,128070198.0,44.3551,3.525682,1.712485e+08,42911.0,51720.0

In [194]:
df.reset_index(drop=True, inplace=True)

In [195]:
df.head()

,date,US_IMP_HT,US_EXP_HT,end_rate,inf,rec_rem,int_reg_deb,int_reg_emb
0,2014M1,44843398.0,98991983.0,44.0151,3.370787,1.339040e+08,44891.0,56478.0
1,2014M2,72252658.0,79821039.0,44.3479,3.210117,1.679772e+08,41446.0,41646.0
2,2014M3,67067495.0,128131695.0,44.7062,3.239845,1.965820e+08,52201.0,57193.0
3,2014M4,71276176.0,93306047.0,44.9934,3.469880,1.798655e+08,47486.0,51378.0
4,2014M5,76678909.0,128070198.0,44.3551,3.525682,1.712485e+08,42911.0,51720.0

In [196]:
df.tail()

,date,US_IMP_HT,US_EXP_HT,end_rate,inf,rec_rem,int_reg_deb,int_reg_emb
60,2019M1,64960550.0,88983423.0,81.0353,15.5,2.440045e+08,49225.0,56085.0
61,2019M2,65624992.0,92832684.0,82.0249,17.0,2.423867e+08,23682.0,33880.0
62,2019M3,104189527.0,144930934.0,82.6061,16.7,3.238851e+08,37335.0,38839.0
63,2019M4,103425157.0,132519689.0,86.0961,17.7,3.068589e+08,37295.0,38291.0
64,2019M5,101016899.0,135071227.0,92.5356,18.0,2.966206e+08,38412.0,46107.0

In [197]:
 df.to_excel('results/USHTG_rate_and_features_NA_removed.xlsx')